[2014-01-27 09:00] pnrobinson opened #1 "Add multiple annotations to VCF output"
Add  multiple transcript annotations to the VCF file, e.g.

Single transcript/gene:
NOC2L:NM_015658:exon16:c.C1843T:p.L615L
TMEM52:NM_178545:exon5:c.T422C:p.M141T

Multiple transcripts/genes:
MIB2:NM_001170688:exon15:c.A2255C:p.D752A,MIB2:NM_001170689:exon15:c.A1910C:p.D637A,MIB2:NM_001170686:exon16:c.A2438C:p.D813A,MIB2:NM_001170687:exon16:c.A2408C:p.D803A,MIB2:NM_080875:exon16:c.A2450C:p.D817A

[2014-03-25 14:34] leipzig opened #2 "docs say Jannovar.jar is created not jannovar-0.6-SNAPSHOT.jar"

[2014-03-25 16:19] leipzig opened #3 "HGVS skips NM in favor of XM"
For example
1:976962	C>T would normally be
NM_198576.3:c.1057C>T

Jannovar calls this
XM_005244750.1:exon5:c.742C>T
even though the NM annotation is in the refseq build

The HGVS should just hit every transcript available (multiple effects)

[2014-06-05 14:37] martenj opened #4 "multi Genotype reports"
currently Jannovar only annotates the first reported alt allele.
So for ref=GG var=AG,CT you will only get an annotation for GG>AG.

Add annotaion for all allele variants (extra option?)

[2014-06-05 14:38] #1 closed, assigned to martenj

[2014-06-09 06:57] choishingwan opened #5 "Problem with multiple family input"
In the function: inputPedFileStream, it was observed that the firstline variable will always be true. Therefore, when user input a ped file with multiple family, they will all be considered to be in the family of the last sample by the inputPedFileStream function. Fortunately, this problem is captured and will causes the addIndividual function called in Pedigree.java to throw an error.

[2014-07-17 13:30] dawe opened #6 "Exception error"
I've just downloaded the .jar file from main site. At the first test run I got:

[code]

[2014-09-07 16:46] buske opened #8 "NullPointerException thrown when certain deletion annotations encountered"
I'm getting a NullPointerException from a number of deletion annotations, including: `chr13:c.113201891TCGCGCGTGGGAAAG>-`

[code]

[2014-09-08 23:44] buske opened #9 "Throws StringIOOBException with certain insertions"
Here's the error generated by variant `chr6:g.34725662,-->NTT`:

[code]

[2014-12-03 22:38] buske opened #29 "A reference dictionary is required for creating Tribble indices on the fly?"
Trying to build latest version from master branch and getting the following error:

[code]

Any suggestions?

[2014-12-05 07:29] buske opened #31 "shiftedFrameDeletion causing StringIndexOutOfBoundsException"
Getting an error processing the following variant: ```chr1:g.167385324,TA->-```

[code]

[2014-12-17 15:48] holtgrewe opened #32 "Get ChromosomeMap information from public databases"
On `download`, Jannovar should load sequence lengths from UCSC `chromInfox.txt.gz` and the mapping between alternative chromosome names from RefSeq's `chr_accessions_${RELEASE}`. This information should then be read into a `ReferenceDictionary` object and serialized.

[2014-12-17 15:50] holtgrewe opened #33 "Make downloading more flexible"
It should be possible for uses to use Jannovar for other organisms than human and mouse.

[2014-12-20 20:25] #33 closed, assigned to holtgrewe

[2014-12-20 20:26] #32 closed, assigned to holtgrewe

[2014-12-20 20:30] holtgrewe opened #34 "Refactor pedigree module"
- [x] refactor `PedFileParser`, e.g. should also support arbitrary unparsed TSV data at the end of each line
- [x] make `Person` immutable, add `PersonBuilder`, same for `Pedigree`.
- [x] move the related types `Disease`, `ModeOfInheritance` etc. into `pedigree` package
- [ ] move the complex compatibility etc. query functions outside of Pedigree

[2014-12-20 20:31] holtgrewe opened #35 "Also serialize the interval tree"
This should make the program startup faster.

[2014-12-20 20:39] holtgrewe opened #36 "Remove Variant in favour of HTSJDK"
In summary, `Variant`, `Genotype`, `GenotypeCall` should be removed in favour of HTSJDK if possible.

It should be evaluated whether it makes sense to keep some of the information around for summary, together with code for converting the HTSJDK types into the internal types.

[2014-12-20 20:46] holtgrewe opened #37 "Refactor annotation package"
Client usage could be further simplified.

[2014-12-20 20:49] holtgrewe opened #38 "Allow the user to provide INI files with additional data sources"
Also, add the previously hard-coded data sources to the the default INI file.

[2014-12-20 20:51] holtgrewe opened #39 "Review classes and mark as "not part of public interface" if necessary."
A strategic decision is what should be part of the public interface anyway. From the previous Tutorial, the parts that were to be exposed up to now are:

- Jannovar data deserialization
- VCF reading into variant list, the `Variant` class
- annotating the variants
- all of the pedigree module

IMO, a future version should provide the following functionality. Reading and writing of VCF should be do

[2014-12-21 11:17] holtgrewe opened #40 "Add back support for using a HTTP proxy."

[2014-12-21 11:35] #38 closed, assigned to holtgrewe

[2014-12-21 13:23] #40 closed, assigned to holtgrewe

[2014-12-21 18:26] #36 closed, assigned to nobody

[2014-12-21 18:29] holtgrewe opened #41 "Refactor console I/O"
This needs some love.

From within the library components, we should use some kind of logging infrastructure. It appears that the logging that comes with Java is somewhat clunky to customized. Maybe log4j comes in handy.

The output of the Jannovar program should be user-focused (i.e. not contain one line of class/method statistics and time as is the case with the Java logging stuff). Also, users

[2014-12-21 21:10] holtgrewe opened #42 "Add configuration for other releases than hg19"
In the upcoming version, users can configure releases through INI files.

At the moment, we prepared the default INI file only for hg19. We should add back the other human and mouse releases at least.

[2014-12-22 00:00] holtgrewe opened #43 "Decide about 1-/0-based coordinates"
VCF is 1-based, as many text-based formats. Usually, 0-based positions are used for computation which are easier to deal with computationally (e.g. the length of an interval is computed as `end - begin`). Usually, 0-based positions are used together with half-open intervals `[begin, end)`. On the other hand 1-based positions and intervals are good for display and human interaction since they appea

[2015-01-05 13:50] holtgrewe commented on #35
Also, the `Chromosome` class needs to be touched.

[2015-01-05 13:56] holtgrewe commented on #39
#45 should fix this

[2015-01-05 13:56] #39 closed

[2015-01-05 13:57] holtgrewe commented on #41
@martenj can you give me a hand here? We should talk about this later.

[2015-01-06 12:21] #37 closed

[2015-01-06 13:48] visze opened #46 "refactor source structure"
use `de.charite.compbio.jannovar` instead of `jannovar`

[2015-01-06 15:34] visze opened #47 "Building ReferenceDictionary Error"
[code]
same with refseq and ucsc
[code]

by the way:

[code]

This should be  `java -jar jannovar.jar download hg19/ucsc`

[2015-01-07 10:23] martenj opened #49 "Proxy setting not working"
Download will not work if the --proxy option is given:
[code]

[2015-01-07 14:23] holtgrewe opened #51 "Consider sorted lists instead of an interval tree data structure"
Would be simpler and tentatively faster.

There is no need to maintain a tree if we do not have dynamic rebalancing (which the tree does not support anyway).

[2015-01-07 14:29] holtgrewe opened #52 "Review @Immutable annotation"
This does not work for objects that might have cycles or bulges.

We might want to introduce an `@AlmostImmutable` annotation for this.

[2015-01-07 16:14] #49 closed

[2015-01-07 16:14] #47 closed

[2015-01-07 16:15] holtgrewe commented on #34
The compatibility checks need some tests and some need implementation.

[2015-01-07 16:20] #43 closed

[2015-01-07 16:21] holtgrewe opened #54 "Use 0-based coordinates internally by default"

[2015-01-07 17:01] pnrobinson commented on #51
the interval tree makes the search a lot faster, a sorted list would not work as well because of overlaps

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universität Berlin
Institut für Medizinische Genetik und Humangenetik
Charité - Universitätsmedizin Berlin
Augustenburger

[2015-01-07 17:21] holtgrewe commented on #51
I agree, my idea is to use a `ArrayList` representation of a binary tree as described here:

http://en.wikipedia.org/wiki/Interval_tree#Augmented_tree

[2015-01-07 18:15] pnrobinson commented on #51
Lass uns drüber reden. Ein Intervalltree ist viel mehr als ein binary baum! Aber vielleicht geht es auch…aber; if it anit broke, don’t fix it, was ist denn kaputt?

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Institut für Medizinische Genetik und Humangenetik
Charité - Universitätsmedizin Berlin
Augustenburger Platz 1
13353 Berlin
Germany
+4930 450566006
Mobile: 0160 93769872
pe

[2015-01-09 08:44] holtgrewe opened #55 "Allele handling"
Currently, the assumption is that the first alternative allele is the one with the highest frequency. We should not make this assumption but instead select the correct one.

Further, we should think about the interpretation of multiple alternative alleles, although more than two alleles will be very rare and not what we are interested in.

[2015-01-09 12:27] #51 closed

[2015-01-09 13:32] #52 closed

[2015-01-09 13:47] #34 closed

[2015-01-09 13:47] #29 closed

[2015-01-12 12:50] holtgrewe opened #61 "Store more than one effect per Annotation"
We should store more than one effect (e.g. `MISSENSE` + `SPLICE_REGION`) per `Annotation` and return the one with the highest pathogenicity score.

[2015-01-14 13:46] #55 closed

[2015-01-14 13:47] #35 closed

[2015-01-14 14:33] #42 closed

[2015-01-15 12:26] holtgrewe commented on #2
The new manual at http://jannovar.readthedocs.org should fix this.

[2015-01-15 12:26] #2 closed

[2015-01-15 12:27] holtgrewe commented on #3
Please reopen if the problem persists.

[2015-01-15 12:27] #3 closed

[2015-01-15 12:27] holtgrewe commented on #4
Fixed in #63

[2015-01-15 12:27] #4 closed

[2015-01-15 21:50] leipzig opened #70 "Exception in thread "main" java.lang.IllegalStateException: Key found in VariantContext field INFO at 1:949696 but this key isn't defined in the VCFHeader. We require all VCFs to have complete VCF headers by default."
[code]

[code]

[2015-01-16 08:38] holtgrewe commented on #70
Thank you for reporting this, I will try to release and upload 0.12 version today that will include the fix.

[2015-01-16 08:39] #70 closed

[2015-01-16 12:57] #54 closed

[2015-01-16 12:58] holtgrewe commented on #6
Please try again with version 0.12 if the problem persists and open again.

[2015-01-16 12:58] #6 closed

[2015-01-16 12:58] holtgrewe commented on #8
Please try again with version 0.12 if the problem persists and open again.

[2015-01-16 12:58] #8 closed

[2015-01-16 13:11] holtgrewe commented on #31
Please try again with version 0.12 if the problem persists and open again.

[2015-01-16 13:11] #31 closed

[2015-01-16 13:11] holtgrewe commented on #9
Please try again with version 0.12 if the problem persists and open again.

[2015-01-16 13:11] #9 closed

[2015-01-16 14:04] holtgrewe opened #76 "Move HG19RefDictBuilder to jannovar-core"

[2015-01-16 14:24] holtgrewe opened #77 "Make VariantType#priorityLevel non-static"

[2015-01-16 14:25] holtgrewe opened #78 "Rename TranscriptInfo to TranscriptModel"

[2015-01-16 15:16] #78 closed

[2015-01-16 15:18] #76 closed

[2015-01-16 15:27] #77 closed

[2015-01-16 15:40] holtgrewe commented on #5
Please check whether the problem persists in v0.12 or later and reopen ticket if necessary.

[2015-01-16 15:40] #5 closed

[2015-01-16 15:44] holtgrewe opened #83 "Implement Variant Effect Standard"
Can be found here:

http://snpeff.sourceforge.net/VCFannotationformat_v1.0.pdf

[2015-01-16 15:47] holtgrewe opened #84 "Add tests for jannovar-cli"
For starters, some simple examples should suffice.

[2015-01-16 15:49] #46 closed

[2015-01-16 15:55] holtgrewe commented on #83
For this, we need to sort chromosome names lexicographically and `1 < A`.

[2015-01-16 15:57] holtgrewe commented on #83
Add an option `--human-readable` to yield `EFFECT=...:p.(=)` although violating the VCF standard.

[2015-01-16 16:49] holtgrewe commented on #61
#83 is highly related

[2015-01-16 18:31] holtgrewe opened #85 "Cross validate results"

[2015-01-16 18:31] holtgrewe opened #86 "Compress serialized file"

[2015-01-16 21:55] leipzig opened #87 "delins cause Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: 0"
Not sure if you really want to accept delins (what caller would produce them?) but the error should at least tell you what line to remove from your vcf
[code]

[2015-01-16 22:24] leipzig opened #88 "jannovar is prepending INFO with ;"
[code]
this is causing parsing problems in VariantAnnotation, probably some other programs

[2015-01-19 08:52] holtgrewe commented on #87
OK, I could reproduce the problem with `annotate-pos data/hg19_ucsc.ser 'chrX:103041654AGGTGATC>AA'`.

These variants should work and also the program should not crash in these cases but just print a warning. I will fix this.

[2015-01-19 09:14] holtgrewe opened #89 "Remove 1-based positions for CDSPosition as well"

[2015-01-19 09:40] #89 closed

[2015-01-19 09:42] holtgrewe commented on #87
OK, this should be fixed in develop after merging #90 and will be part in the `v0.12` release.

[2015-01-19 09:42] #87 closed

[2015-01-19 09:49] holtgrewe commented on #88
Hm, I cannot reproduce this with the `v0.11` version. If I pass in your file then it even removes the leading semicolon. Could you try to pass the following file to Jannovar and see what happens? Could you give me the verbatim input file to Jannovar `v0.11` (it will complain about a missing VCF version in your file):

[code]

[2015-01-19 09:59] #86 closed

[2015-01-19 13:40] #41 closed

[2015-01-19 19:26] leipzig commented on #88
it is caused by semicolons at the end
[code]

[2015-01-19 19:42] holtgrewe commented on #88
Thank you for providing this additional information. Apparently, the HTSJDK interpretation (that we use for VCF I/O) interprets the standard such that this is an empty `INFO` field without a key or value. I will add an option to Jannovar that removes empty `INFO` (and `FILTER`) fields tomorrow and add this to the upcoming `v0.12`.

[2015-01-20 15:09] #84 closed

[2015-01-20 15:09] #85 closed

[2015-01-20 15:10] holtgrewe commented on #61
Fixed by #93

[2015-01-20 15:10] #61 closed

[2015-01-20 15:23] #88 closed

[2015-01-23 16:30] holtgrewe opened #95 "Implement more pedigree compatibility checks"
still missing:

- [x] X-linked, small
- [x] X-linked, large
- [x] AR, large
- [x] AD, large

[2015-01-26 13:51] visze commented on #95
Hi Manuel,

ich kann den test, den wir am freitag geschreiben haben nicht fidnen. Habe bei deinem user im feature-brach feature/pedigree-checks geschaut..

[2015-01-26 13:54] visze commented on #95
hab! feature/ped-tests

[2015-01-29 14:36] holtgrewe opened #97 "Improve annotation of SVs"

[2015-01-30 14:37] holtgrewe opened #98 "Gene ids are still missing in output"

[2015-01-30 14:38] holtgrewe opened #99 "Add switch between both annotation formats"

[2015-01-30 14:38] holtgrewe opened #100 "There are "null" strings in the output for nt and aa annotation on intergenic"

[2015-01-30 14:39] holtgrewe opened #101 "Remove spaces around "/" in annotation output"

[2015-01-30 14:39] holtgrewe opened #102 "Distances should be always positive"

[2015-01-30 14:40] holtgrewe opened #103 "Do not output intergenic if there is a matching one"

[2015-01-30 14:40] #103 closed

[2015-01-30 14:40] holtgrewe opened #104 "Allow to limit to one annotation per ALT"

[2015-01-30 15:30] holtgrewe opened #105 "Add jannovar-htsjdk bridge package"

[2015-02-01 06:36] buske opened #106 "Database downloading does not work for ftp:// URLs"
Just did a `mvn clean install` from the latest pull from `master`, and am trying to set up the annotation databases. URLs that start with `http://` seem to download fine, while URLs that start with `ftp://` fail with an error such as:
```ERROR: ERROR: problem downloading file Could not open connection for file chr_accessions_GRCh37.p13```

Calling `wget <URL>` with the console-logged URL works fin

[2015-02-02 08:41] holtgrewe commented on #106
Are you behind a proxy?

[2015-02-02 09:30] #98 closed

[2015-02-02 09:30] #100 closed

[2015-02-02 09:30] #101 closed

[2015-02-02 09:30] #102 closed

[2015-02-02 10:10] holtgrewe opened #107 "Implement transcript validations"
Many warnings, e.g., `WARNING_TRANSCRIPT_MULTIPLE_STOP_CODONS` are independent of the functional annotation and can be obtained from the database itself.

[2015-02-02 10:11] holtgrewe opened #108 "Allow deactivation of nucleotide change shifting towards 3'."

[2015-02-02 10:31] #99 closed

[2015-02-02 11:22] buske commented on #106
No, I don't believe so.

[2015-02-02 12:34] toix opened #109 "Error when compiling with Java 8"
**Setup:**
Windows 7 and Ubuntu 14.04 LTS
Java: Java SE Development Kit 8 (jdk1.8.0_31)
Maven: 3.2.5

**Steps:**
Install Java
Install Maven
Terminal Command: mvn package -e

**(unwanted) Result:**
log: https://drive.google.com/file/d/0Bzk9C86qSsTgeEk5b2dpemtIQVk/view?usp=sharing

[2015-02-02 13:23] #104 closed

[2015-02-02 13:24] #105 closed

[2015-02-02 13:30] holtgrewe commented on #109
This is caused by the HTSJDK from the seqdoop people being built against an old version of cofoja.

I will see what I can do about this (most probably a newer version of HTSJDK has to be uploaded somewhere).

[2015-02-02 13:31] holtgrewe commented on #83
Mostly done, problems will be resolved through future issues.

[2015-02-02 13:31] holtgrewe opened #111 "Release version 0.12"
- [x] remove a bug in jannovar-filter
- [x] update README.md
- [x] tag release and upload

[2015-02-02 13:32] holtgrewe opened #112 "Update variant annotation standard implementation"
* agreement on sequence ontology terms
* allow deactivation of escaping `(=)`
* allow disabling of shifting nucleotide positions towards 3' of transcript

[2015-02-02 13:33] #83 closed

[2015-02-02 14:17] #111 closed

[2015-02-02 16:02] holtgrewe commented on #95
The documentation has to clearly state the checks that are performed.

Also, we have to make clear that the aim of the filter is not to catch all pathological cases but only the "standard"/common ones. For example in the case of "unaffected father:ref, unaffected mother:het, affected son:hom", we do not consider the set of mutations to be compatible with autosomal recessive mode of inheritance.

[2015-02-04 08:32] holtgrewe opened #119 "Use exception chaining"
http://docs.oracle.com/javase/tutorial/essential/exceptions/chained.html

[2015-02-04 08:39] holtgrewe commented on #106
Hm, this is weird. I tried with the version tagged `v0.11` and this worked fine.

Could you try to use version `v0.12` (there also is a binary release for this in the Releases page)?

[2015-02-04 08:46] holtgrewe opened #120 "Improve documentation"
- [x] describe data source file extension
- [x] describe commands and options in detail
  - [x] jannovar-cli
  - [x] jannovar-filter
- [ ] describe the pedigree module and filters
- [ ] tutorial on coordinate transformation

[2015-02-04 10:37] holtgrewe opened #121 "Add info about Jannovar version and call to the header"

[2015-02-04 12:24] holtgrewe commented on #121
#122

[2015-02-04 12:24] #121 closed

[2015-02-04 15:12] holtgrewe opened #123 "Consider renaming"
The following renaming might make sense:

- `GenomeChange` > `Variant`
- `Annotation.getMostPathogenicVarType` > `Annotation.getMostPathogenicEffect` (obsolete)

[2015-02-05 11:06] julesjacobsen commented on #119
http://stackoverflow.com/questions/6115896/java-checked-vs-unchecked-exception-explanation

[2015-02-05 18:02] buske commented on #106
I tried with the v0.12 binary release and found the same error:

[code]

However, if I try the UCSC annotations (which are over http), it works:
[code]

[2015-02-12 10:59] holtgrewe commented on #109
The nice people of samtools/HTSJDK have created an official HTSJDK release on Maven central.

#125 should fix this. Please reopen if the problem persists after merging or the next release.

[2015-02-12 10:59] #109 closed

[2015-02-18 17:53] holtgrewe opened #126 "Clarify insertions at exon/intron borders"
There are some questions (example is `chr2:g.71062833_71062834insC`):

* consider as intronic consider as exonic?
* could additionally be interpreted as affecting splicing...

[2015-02-18 17:54] holtgrewe opened #127 "Test again against clinvar and dbSNP"
This will find some inrobustnesses in Jannovar.

[2015-02-18 17:56] pnrobinson commented on #126
THese definitely can affect splicing, but we need to consider at what level to evaluate them

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universit�t Berlin
Institut f�r Medizinische Genetik und Humangenetik
Charit� - Universit�tsmedizin Berlin
Augustenburger Platz 1
13353

[2015-02-18 18:02] holtgrewe opened #128 "Change deletion/block replacement going over exon/intron borders"
For example: `chr7:g.128587352_128587382del`

We should not simply truncate the deletion at the exon/intron junction but annotate as "complex splicing mutation."

[2015-02-18 18:39] holtgrewe opened #129 "Look into mRNA/genome discrepancy for SNPs again"
It looks like I changed the original behaviour of using the database RNA sequence.

[2015-02-26 08:08] buske opened #130 "NPE if input file is relative path and in current directory"
Jannovar's path processing crashes if there is no directory component to the input file path. It throws an NPE when you attempt to process a VCF file that is in your CWD, unless you specify it as an absolute path.

We're using the github v0.12 binary.

Jannovar works fine if you run it on the example VCF:
[code]

Unless it's in the current directory:
[code]

Specifying the absolute path makes the

[2015-02-26 08:09] buske opened #131 "Reported version number is out-of-date"
[code]

[2015-02-26 08:12] buske opened #132 "JAR should respond to `-h` or `--help`"
For convention, it would be nice if the standard help message were shown when `-h` was specified in place of a command.

An embarrassing but real snippet from my bash console today:
[code]

[2015-02-26 11:58] holtgrewe opened #135 "Add functionality to filter out variants that are incompatible with inheritance"
Currently, one can only check for compatibility but it would be nice to have functionality to get flags for which variant is compatible.

[2015-02-26 18:43] holtgrewe commented on #130
Will be fixed in 0.13 release.

[2015-02-26 18:43] #130 closed

[2015-02-26 18:46] #132 closed

[2015-02-26 18:47] holtgrewe commented on #131
Fixed in 0.13 release.

[2015-02-26 18:47] #131 closed

[2015-02-26 18:47] #119 closed

[2015-02-27 14:30] holtgrewe opened #141 "Complete support for symbolic alleles"
Currently, no annotation is created for them.

[2015-02-27 15:30] holtgrewe opened #143 "Updates to AnnotationList"
* rename to VariantAnnotations
* add GenomeChange
* remove List interface

[2015-02-27 15:42] julesjacobsen opened #144 "add buildGenomeChange method to VariantContextAnnotator"
[code]
used like this in the buildAnnotationList() member:
[code]

[2015-02-27 15:48] julesjacobsen commented on #144
commit 00535027347097a311d2feafb980af3554831fe4

[2015-02-27 15:48] #144 closed

[2015-02-27 16:13] julesjacobsen commented on #143
From our discussion on HipChat:

Currently the way you end up constructing your AnnotationList is inconsistent with what the AnnotationList constructor says it needs. You actually start from the GenomeChange, not the Collection<Annotation>.

e.g. in VariantAnnotator
[code]
despite the AnnotationList constructor just requiring the annotations:
[code]

The contructor really ought to be:
[code]
as th

[2015-03-25 03:39] simplelive commented on #106
Modify de.charite.compbio.jannovar.datasource.FileDownloader.java

Line 80

Change [ ptions.ftp.host == null ] to  [ ptions.ftp.host != null ]

[2015-03-25 09:28] holtgrewe commented on #106
@simplelive thanks

@buske Can you try to build the develop branch from source and look at the output?

[2015-03-25 16:10] buske commented on #106
@holtgrewe This worked without a problem:

[code]

[2015-03-31 16:37] visze commented on #135
inheritance brain fu..

X-Recessive:

* We consider an hemizygous mutations in affected males as disease causing.
* We consider an heterozygous call in an affected male as disease causing => maybe estimated wrong from the caller
* [Singe case] We consider homozygous or two heterozygous mutations in an affected female as disease causing
* [Multiple case] We consider only homozygous mutations in aff

[2015-04-01 10:02] visze commented on #106
I think this bug is fixed!

[2015-04-01 10:02] #106 closed

[2015-04-01 10:05] visze commented on #95
X-Recessive:

* We consider an hemizygous mutations in affected males as disease causing.
* We consider an heterozygous call in an affected male as disease causing => maybe estimated wrong from the caller
* [Singe case] We consider homozygous or two heterozygous mutations in an affected female as disease causing
* [Multiple case] We consider only homozygous mutations in affected females as disease

[2015-04-01 10:07] visze commented on #135
For my last comment please go to issue #95 This issue is something different!

[2015-04-01 13:32] pnrobinson commented on #95
Answers inline
________________________________________
Von: Max [notifications@github.com]
Gesendet: Mittwoch, 1. April 2015 12:05
An: charite/jannovar
Betreff: Re: [jannovar] Implement more pedigree compatibility checks (#95)

X-Recessive:

  *   We consider an hemizygous mutations in affected males as disease causing.
  *   We consider an heterozygous call in an affected male as disease causing

[2015-04-01 14:00] visze commented on #95
@pnrobinson It can be compound heteozygous. but because of the X-Chromosome the father must be affected and homozygous. So the pedigree looks more dominant than recessive.

One mut. can be a de-novo mutation. But this is also covered by the XD case. This is similar to AR: Comp. het. will not be found, if one variant is de-novo. But the variant will show up in the AD filter.

[2015-04-02 08:46] visze commented on #95
Ah Manuel and I designed a stupid test case for XR with a affected female:
![small_xr_stupid_female](https://cloud.githubusercontent.com/assets/9267120/6960626/9640917c-d924-11e4-9ae5-3be412d32043.png)

This case can only be true, if we have a de-novo variant at the same of carrier mutation of the mother. It is very unlikely, but I remember I had the case once, where the child has a het exon/gene

[2015-04-27 20:05] holtgrewe opened #152 "Review A/I prefixes"
As far as I can see, the only place where A and I prefixes for abstract and interface is the pedigree module.

I think we should resolve this in favour of consistency with the rest of Jannovar.

What do you think, @visze

[2015-04-27 20:09] holtgrewe commented on #152
Also, I am not so certain about putting the `runSingleCase()` and `runMultipleCase()` into an interface since this is an implementation detail and not part of the public interface.

[2015-04-28 07:30] holtgrewe commented on #135
Is this done?

[2015-04-28 08:10] visze commented on #152
Well I for interface and A for abstact is my personal writing (I learned it this way at the university and kept it.
For me in Jannovar it doesn't matter if we use this or not.

 `runSingleCase()` and `runMultipleCase()` have to be in the interface. Otherwise they cannot be used in the Abstact class without implementing them. I just wanted to put the run method into the abstarct class

[2015-04-28 08:14] visze commented on #135
I didn't touch this issue. My two comments belongs to issue #95

[2015-04-28 08:55] #123 closed

[2015-04-28 08:57] holtgrewe commented on #95
Is this done?

[2015-04-28 09:15] holtgrewe commented on #129
No, still fine.

[2015-04-28 09:16] #129 closed

[2015-04-28 10:04] holtgrewe commented on #128
Should be OK now, `chr11:111959733AAAAAAAAAAAAA>CGAT` is annotated as `FRAMESHIFT_VARIANT+COMPLEX_SUBSTITUTION+STOP_LOST+SPLICE_DONOR_VARIANT` for hg19.

[2015-04-28 10:04] #128 closed

[2015-04-28 11:53] holtgrewe commented on #127
Works, no crash.

[2015-04-28 11:53] #127 closed

[2015-04-28 11:54] holtgrewe commented on #135
@visze OK, so I should ignore the "inheritance brain fu.." comment?

[2015-04-28 11:56] visze commented on #135
Yes
Am 28.04.2015 13:54 schrieb "Manuel Holtgrewe" <notifications@github.com>:

[2015-04-28 12:08] #95 closed

[2015-04-28 13:45] holtgrewe commented on #120
@visze Could you complete the documentation of the filters in the file `manual/ped_filters.rst` for the 1.0 release?

[2015-04-28 13:59] julesjacobsen opened #155 "GenomeChange throwing NullPointerException in toString() method."
I've migrated exomiser to use the latest jannovar off develop branch and I'm getting problems with the GenomeChange.toString() method.

In both these cases I think the Variant has not been annotated.

[code]
[code]

[2015-04-28 14:10] julesjacobsen commented on #155
I'm not sure if it's due to a change you've made or some bug I've introduced with the new VariantFactory and VariantAnnotator classes, but I think it's likely one of your changes as it was all building fine before applying the new jannovar build.

[2015-04-29 11:32] visze commented on #120
I should do so...

[2015-04-29 12:01] #152 closed

[2015-04-29 12:03] holtgrewe opened #160 "Implement HGVS parser"
should be used for `annotate-pos` command

[2015-04-29 12:03] holtgrewe opened #161 "Create release on Maven Central"

[2015-04-29 12:49] #155 closed

[2015-04-29 16:20] holtgrewe opened #162 "Run on large VCF files"
should include ExAC, dbSNP, and clinvar.

Create a script to semi-automatize this for the future.

[2015-04-29 16:35] holtgrewe commented on #143
@julesjacobsen could you validate my PR #163 and look whether I forgot anything?

[2015-04-30 10:58] holtgrewe commented on #126
Implemented by #164

[2015-04-30 10:58] #126 closed

[2015-04-30 14:49] #143 closed

[2015-05-07 16:07] martenj opened #165 "empty annotatons - missing annotation String"
some variants have incomplete annotations with complete empty string or partly missing string.
e.g.
"&stop_lost" or "&splice_region_variant"

chr3    138495007       .       ATTTGTT AT      179.57  .       AB=0.411765;ABP=4.1599;AC=1;AF=0.5;AN=2;ANN=AT|&stop_lost|HIGH|CEP70|gene10318|transcript|NM_001288964.1|Coding|18/18|c.1743_*4del|p.*581Asnext*25|2073/100045|1743/1743|581/581||;AO=7;CIGAR=1M5D

[2015-05-08 16:53] holtgrewe opened #167 "Jannovar appears to not use the same extension for the output as in the input"
Should be `.vcf.gz` if input is `.vcf.gz`.

[2015-05-08 16:57] holtgrewe opened #168 "Add feature to annotate using BED/VCF files"
Allow annotation from BED or VCF file, useful for annotating based on clinvar/dbsnp/cosmic.

[2015-05-08 18:09] holtgrewe commented on #165
Empty annotations can be OK in several cases.

Here, however, there was a bug and it is fixed in #169.

[2015-05-08 18:09] #165 closed

[2015-05-08 18:37] holtgrewe commented on #167
#169

[2015-05-08 18:37] #167 closed

[2015-05-08 19:12] #161 closed

[2015-05-08 19:12] #120 closed

[2015-05-08 19:23] pnrobinson opened #171 "isIntronic() in VariantEffect has incorrect definition of intronic"
isIntronic

    public boolean isIntronic()

    Returns:
        true if equal to CODING_TRANSCRIPT_INTRON_VARIANT or NON_CODING_TRANSCRIPT_EXON_VARIANT.

This shoud be "or NON_CODING_TRANSCRIPT_INTRON_VARIANT"

[2015-05-08 20:01] holtgrewe commented on #171
:+1:

[2015-05-21 15:50] #171 closed

[2015-05-22 07:28] holtgrewe opened #172 "Homogenize naming of static factory functions in hgvs module"
Default should be without offset.

With offset should go into their own functions.

[2015-05-22 13:23] #172 closed

[2015-05-28 14:31] holtgrewe commented on #160
#173 is a good start

[2015-07-10 14:09] holtgrewe opened #174 "Apparently, cannot use some references"
At least in 0.15:

* mm10/refseq, mm10/refseq_curated
* hg38/ucsc

[2015-07-20 15:34] visze opened #176 "String out of bound exception"
Position 19:g.45010213:A>G

Jannovar release 0.14

RefSeq database

[code]

[2015-07-21 07:47] visze commented on #176
Same with annotate pos:

[code]

[2015-07-21 07:48] visze commented on #176
problem does not appear with ucsc

[2015-07-21 08:01] visze commented on #176
I found a problem with my program. GenomePosition in Jannovar is zero based (ups!!!). So the variant is 'chr19:45010212A>G' But with the same result: String out of bound exception

[2015-09-03 12:34] visze commented on #135
Implemented in v0.15

[2015-09-03 12:34] #135 closed

[2015-09-17 13:41] visze opened #179 "Add functions to InheritanceCompatibilityChecker"
Add and change the logic of the InheritanceCompatibilityChecker.

One method (like check) should return the complete variant list back but flags the variants with its modes of inheritance: returns Map<VariantContext, Set<ModeOfInheritance>>

Another function returns all compatible modes of the list:
getCompatibleModes(): Set[ModeOfInheritance]

The actual function getCompatibleWith can be adapted

[2015-12-15 12:40] visze opened #189 "Null pointer exception annotating deletion"
Command:
[code]

Expection:
[code]

[2015-12-21 10:55] #189 closed

[2015-12-21 11:06] holtgrewe opened #194 "Care about unstability of reference resources"
The paths to the NCBI servers are not stable. #174 was a consequence of this. This requires updating of the `default_sources.ini` file and rebuilding the JAR file then.

Possible resolutions:
- mirror the build `.ser` files (or the sources) somewhere (this is the route taken by SnpEff), requires lots of storage and manual upgrades after each new release, separate versioning of genome and annotatio

[2015-12-21 11:28] #174 closed

[2015-12-21 14:59] visze commented on #179
see last commit!

[2015-12-21 14:59] #179 closed

[2016-01-18 15:10] visze opened #198 "java.lang.StringIndexOutOfBoundsException"
If you run:
`java -jar jannovar-cli/target/jannovar-cli-0.16.jar annotate-pos -d data/hg38_refseq.ser -c 'chr17:46330511G>T'`
you get this error:

[code]

Maybe similar to #176

[2016-02-03 14:13] visze commented on #198
same with this:

[code]

[2016-02-17 14:43] julesjacobsen commented on #162
Not sure what you want to check by doing this or how large 'large' is, but Jannovar copes with ~4.4 million variant genome VCF files well enough.

[2016-02-17 15:02] julesjacobsen opened #199 "Concurrency problems in VariantContextAnnotator due to AnnotationCollector not being thread-safe"
Using the VariantContextAnnotator in a servlet without synchronising calls to buildAnnotations() leads to incredibly varied annotations for a variant context. In general Jannovar strives for thread-safety through the use of immutable collections and local scoping/stateless classes, but this one completely falls flat on its face, which is why it came as a surprise!

Another thing - why is this clas

[2016-02-22 14:36] pnrobinson opened #200 "chr7:g.43798425C>T"
This variant gets reported as 5' UTR.
Actually, it is located between exons 1 and 2 (both of which code for the 5' UTR) as
uc003tir.3:c.-22+92C>T:p.(=)
Question: Jannovar or Exomiser bug?

[2016-02-22 14:43] visze commented on #200
Jannovar BUG:

[code]
leads to
[code]

[2016-02-22 14:44] holtgrewe commented on #200
This appears to be a bug in Jannovar. The code [here](https://github.com/charite/jannovar/blob/master/jannovar-core/src/main/java/de/charite/compbio/jannovar/annotation/builders/AnnotationBuilder.java#L231) does not distinguish between exons and introns.

[2016-02-24 11:32] julesjacobsen commented on #199
I think this could be mitigated by doing this to VariantAnnotator:
[code]

Then there should be no need to synchronise anything in AnnotationCollector as it is all kept in a local scope and not visible to seperate threads.

[2016-02-24 11:52] julesjacobsen commented on #199
Actually thinking a little further - why is there a AnnotationCollector.clearAnnotationLists() method at all? This should be removed and the clean-up left to the GC. This class is incredibly simple and yet a bit of a mess:

[code]
[code]
[code]

[2016-02-24 13:23] julesjacobsen commented on #199
@pnrobinson - Can you say wether the missing this.annotationCount++; in addNcRNASplicing is a mistake or deliberate? This is key to the refactoring I'd suggest.

[code]

[2016-02-24 16:16] julesjacobsen commented on #199
@pnrobinson @holtgrewe @visze

I've fixed the concurreny issue and in the process it seems that the AnnotationCollector class has outstayed its welcome and has been out-evolved by the rest of the new Jannovar code. 90% of the code is completely unsed and when you look at how it's actually used you eventually conclude that it can simply be replaced by an ArrayList! Do any of you have any institutio

[2016-02-24 16:17] holtgrewe commented on #199
@julesjacobsen Thanks for all your comments, I'll have a detailed look and comment tomorrow.

[2016-02-29 15:29] holtgrewe commented on #199
Hi Jules, thanks for all your comments and your work, this is a good catch!

However, I have to say it was hard to trace through your changes so in #204, I have completely removed AnnotationCollector as it is not necessary any more IMO. This should get rid of the thread safety problem, I think.

Did I miss anything else from your changes?

BTW: Everything is `final` in Jannovar also because I did

[2016-03-01 10:48] julesjacobsen commented on #199
Cheers for incorporating the fix, Manuel. Those were all the changes I suggested - I only deprecated the AnnotationCollector in order to honour the semantic versioning principals, but actually you don't subscribe to them so removing the AnnotationCollector is definitely the better option.

[2016-03-01 10:48] #199 closed

[2016-03-01 10:58] holtgrewe commented on #199
Hi Jules, I consider AnnotationCollector not to be part of the Jannovar API (package level visibility only) so removing it does not change the interface as far as I am concerned. Glad I got all of your changes!

[2016-03-01 19:50] visze commented on #199
Thanks a lot @julesjacobsen and @holtgrewe

You are amazing!

(sorry I had no time)

[2016-03-02 17:06] julesjacobsen commented on #199
Thank-you @visze, you are very welcome!

[2016-03-03 10:39] petkraw opened #206 "feature request: list exon in HGVS code"
For validation it is quite handy to list the exon in which the mutation is placed. This is not necessary in HGVS format. However, I think in brackets it is allowed to list additional info:
<accession number>.<version number>(<gene symbol>):<sequence type>.<variant description>
e.g. NM_001204.3(exon1):c.94G>C

[2016-03-11 10:15] visze commented on #198
AGAIN! Also with 0.17 development. It seems to me a problem with the ref_seq database. RefSeq_curated works fine! So we should think of a way to get rid of these problems...

[code]

[code]

[2016-03-11 15:10] visze commented on #198
well. it is not only an issue in refseq. Also in refseq curated!

I get a lot of errors annotating mutatuions! We have to fix this issue!

[code]
java.lang.StringIndexOutOfBoundsException: String index out of range: 4521
        at java.lang.String.substring(String.java:1963)
        at de.charite.compbio.jannovar.reference.TranscriptSequenceDecorator.getCodonAt(TranscriptSequenceDecorator.java:85

[2016-04-29 12:42] holtgrewe commented on #200
Should be fixed? At least it is fixed after #210 (probably also earlier).

[2016-04-29 12:42] #200 closed

[2016-04-29 12:46] holtgrewe commented on #198
No more crashing after #210.

[code]

[code]

[2016-04-29 12:56] holtgrewe commented on #176
I think also resolved by #210. Please check.

[code]

[2016-04-29 12:57] #176 closed

[2016-04-29 12:57] #198 closed

[2016-04-29 13:09] holtgrewe commented on #206
Could you point me to where this is written? I could not find this being allowed.

When annotating VCF, the `ANN` info value already contains the exon in one of the columns.

Please reopen if this does not help.

[2016-04-29 13:09] #206 closed

[2016-05-02 18:25] kevinwang1975 opened #211 "NullPointerException on ExAC variants"
When running Jannovar 0.16 on ExAC variants, the following cause NullPointerException because Annotation.transcript is null.

Code in VariantContextAnnotator.applyStandardAnnotations(VariantContext vc, List<VariantAnnotations> annos) line 244.

Command line: java -Xms4g -Xmx4g -jar jannovar-cli-0.16.jar annotate -d data/hg19_refseq.ser -i data.vcf

1	6157591	A	C
1	6526153	C	T
1	19071422	A	G
1	1907

[2016-05-04 12:07] frankMusacchia opened #212 "What does java.lang.NullPointerException means using VCF file"
Hi,
I am using JAnnovar to annotate a VCF file after variant calling with GATK.
The same file I used in Annovar without problems makes Jannovar complain like this:

**### ERROR StatusLogger No log4j2 configuration file found. Using default configuration: logging only errors to the console.
Options
verbosity: 1
dataFile: data/hg19_refseq.ser
vcfFilePaths: [../ticlip_works/Trio_VN_CGH06/phasing_out/

[2016-05-04 12:15] holtgrewe commented on #212
Hi Francesco, we are working on a solution to RefSeq making problems (actually we have a solution that is still pending validation).

In the meantime, please try to use Ensembl for annotating your variants.

I'll leave this issue open until we have the next release with a bug fix.

[2016-05-04 12:19] frankMusacchia commented on #212
Ok. How can I use Ensembl or, even better, GenCode?

[2016-05-04 12:21] holtgrewe commented on #212
Gencode is on our list but we don't have it yet.

Here is how to use Ensembl

[code]

[2016-05-25 11:30] visze commented on #211
Sorry for the late response. There were some errors parsing the refseq data. See also issue #198
We changed the refSeq gff parser (see #210) and I tested some of your positions with this fix. I get no errors. We will roll out this fix in v0.17. Right now you can test the actual develop branch if your issues are fixed.

[2016-05-25 11:44] visze commented on #212
The problem should be fixed in the next release

[2016-06-01 21:23] roland-ewald opened #215 "VariantEffect#getSequenceOID does not always return correct Ontology ID"
For example, `VariantEffect.MNV.getSequenceOID()` returns `SO:0001583` (http://www.sequenceontology.org/browser/current_svn/term/SO:0001583), but should return `SO:0002007` (http://www.sequenceontology.org/browser/current_svn/term/SO:0002007).

The SO IDs in the javadocs for the enum values are correct, just the strings returned in the `switch` statement of `VariantEffect#getSequenceOID` are wrong

[2016-06-02 15:44] #215 closed

[2016-06-02 15:46] visze commented on #215
Thank you Roland.
I merged the pull request. Please note that we will not roll out a new version with this fix (e.g.0.16.1). We are close to release version 0.17. Your fix will be included there.

[2016-06-02 17:17] roland-ewald commented on #215
Hi Max, thanks for the quick feedback and merge!

Don't worry update the release cycle, we have a wrapper to take care of this for now :-)

Looking forward to 0.17; keep up the great work!

[2016-06-23 15:24] mmokrejs opened #218 "Support offline compilation from sources and do not touch my $HOME"
Hi,
  I would like to prepare a package for jannovar in Gentoo Linux but there are several blockers:

1. The build process runs as unprivileged user, in a separate directory and I have no way to fiddle with ~/.m2/settings.xml to set the proxy trickery.
2. Anyway, all files should be available for download before compile phase (so need to set the proxy in step 1). So, what is needed to download exc

[2016-06-23 15:29] holtgrewe commented on #218
Dear @mmokrejs

1. I have no idea how else to do this, please consult the Maven community.
2. Please look how other Gentoo Linux packages approach this with Maven projects, I don't know exactly what you mean.
3. The naming scheme is based on the naming schema for tags recommended by Github. I am not convinced that we should change this.

We recommend using the prebuilt JARs from Maven central.

-

[2016-06-23 15:30] #218 closed

[2016-06-23 15:39] mmokrejs commented on #218
Hi Manuel,
   thank you for a quick answer. Well, there are hardly a few packages in Gentoo using maven, almost all packages incidentally are based on Apache ant instead.

  So, what does "mvn" or some other application try to download during "mvn package" or "mvn install" steps? Why cannot I fetch it directly and notably, beforehand?

  The build system can files files, but in another step, and t

[2016-06-23 15:42] holtgrewe commented on #218
Hi Martin,

`mvn package` will download all Jannovar dependencies recursively (which is a *lot*). They all go into somewhere below `~/.m2`. The maven system includes something like a package management system for Java, so I don't know whether you will be able to untangle this from the Gentoo package management system up to a sensible degree.

Please consult either an expert for Maven or the Gentoo

[2016-06-23 16:02] mmokrejs commented on #218
Definitely, the other mvn-based packages do not fetch anything. Maven is installed as a separate package and in other cases it does not need to fiddle with downloading anything. Because of that, nobody needed to create the http proxy file either IMHO.

I already did look around for somebody more experienced with Maven but seems too few people really use it. Gentoo tries to avoid binary packages as

[2016-06-23 16:03] holtgrewe commented on #218
We are directly writing Maven `pom.xml` files independent of any IDE.

[2016-06-23 16:03] holtgrewe commented on #218
Also, this is Java JAR files, they are architecture independent.

[2016-06-23 16:44] mmokrejs commented on #218
For completeness, here is the full build.log file from Gentoo, showing what is being downloaded and where the automated process fails.

[build.txt](https://github.com/charite/jannovar/files/330431/build.txt)

[2016-06-23 18:29] visze commented on #218
I guess the error is not about maven. It tries to create a dir in the root directory but it failed doing so. Maybe some rights issue?

[2016-06-23 21:37] mmokrejs commented on #218
"Compilation" of every package is run in a sanbox, with ordinary user privileges, and in the end if everything went OK, a root process merges the installation from a `$DESTDIR` to a "root" or "relocated" filesystem. Thefore, all kinds of shellscripts touching your system get declined.

Also, any downloads during configure/compile/install stages are forbidden.

It is the case of the .m2 system, try

[2016-06-23 21:56] sba1 commented on #218
Am 2016-06-23 23:37, schrieb mmokrejs:

Yes, Maven is not supported by Gentoo Java Packaging. Please refer to:

https://wiki.gentoo.org/wiki/Gentoo_Java_Packing_Policy

[2016-06-24 04:59] holtgrewe commented on #218
Good luck, we will not be able to offer any support here.

[2016-07-06 14:31] holtgrewe opened #219 "Soft-filter/Annotate inheritance modes instead of hard-filter"
It would be great if jped would annotate compatible modes of inheritance into variants (possibly linking between variance for composite heterozygous) in the `INFO` column instead of hard-filtering.

[2016-07-06 14:52] holtgrewe opened #220 "Suppress the SLF4J warning"
This is appearing (at least in jped-cli):

[code]

Probably one needs to perform a proper binding, either through the `pom.xml` or in the code. I don't know yet the best solution.

[2016-07-08 14:48] bearbob opened #222 "HG38 Download Exception: File not found"
I tried downloading the datasources for hg38/ucsc and encountered this error:

    ERROR StatusLogger No log4j2 configuration file found. Using default configuration: logging only errors to the console.
    Options
    verbosity: 1
    dataSourceFiles: [bundle:///default_sources.ini]
    dataSourceNames: [hg38/ucsc]
    downloadPathdata
    HTTP proxy: null
    HTTPS proxy: null
    FTP proxy: nul

[2016-07-11 11:00] holtgrewe opened #223 "Remove old jannovar output format"
As VCF is the standard for variant representation these days and we can now also write out the variants on all transcripts with the new annotation format, support for writing the old jannovar format should go away.

[2016-07-11 11:09] pnrobinson commented on #223
I agree it is best to concentrate only on the VCF format

[2016-07-12 07:41] holtgrewe opened #224 "Use Java 8 stream for parallelism"
Also add possibility for user to give number of threads to use.

http://stackoverflow.com/a/22269778/84349

[2016-07-12 07:41] holtgrewe opened #225 "Add support for annotation with dbSNP, ExAC, and UK10K VCF data"

[2016-07-12 07:43] holtgrewe opened #226 "Refurbish command line interface"
The apache CLI is a bit dusted and the structure of the help is unstructured.

IMO, something like argparse4j (ported version of the awesome Python `argparse` library) looks like a good candidate.

[2016-07-12 07:48] holtgrewe opened #228 "Allow annotation with overlapping variants"
At the moment, only matching variants are annotated from dbSNP (position plus change from reference to alternative allele). This will also be true for the first implementations for ExAC and UK10K VCF.

However, separate fields should be written out in the case where only overlapping variants are available (e.g. dbSNP contains A->C and A->G but the VCF file at hand has A-T).

[2016-07-12 07:51] holtgrewe opened #229 "Integrate HGVS updates from new website"
The parser and internal objects should be updated accordingly to the new website:

- http://varnomen.hgvs.org/

[2016-07-12 11:51] visze commented on #226
vote against it. commons-cli does the job perfectly (and it is well known). The only thing is that we did not implement it well. So we can refurbish the interface but I please stick to commons-cli.

[2016-07-12 11:51] visze commented on #225
using dbNSFP?

[2016-07-12 12:04] visze commented on #222
Hi bearbob,

thanks for the BUG. We have problems with the instability of the resources (see #194). The upstream resources changes their files regularly. We will provide a general workaround in one of the next releases.

To resolve your issue you have to download the source code, edit file `jannovar-cli/src/main/resources/default_sources.ini` and change the file `ftp://ftp.ncbi.nlm.nih.gov/genomes

[2016-07-12 14:50] pnrobinson commented on #226
I am a fan off "if it ain't broke don't fix it"...so is there something that we just cannot do now that somebody is asking for?

[2016-07-14 12:36] holtgrewe opened #231 "Add support for annotating with dbNSFP"
Should be supported in a similar manner to Jannovar's dbSNP/ExAC annotation and how SnpEff handles this.

[2016-07-15 08:56] #228 closed

[2016-07-15 08:56] #225 closed

[2016-07-15 08:57] #223 closed

[2016-07-15 08:58] #162 closed

[2016-07-15 08:58] #160 closed

[2016-07-20 13:25] holtgrewe commented on #219
#233

[2016-07-20 13:25] #219 closed

[2016-07-22 13:29] holtgrewe opened #235 "Resolve remaining small issues"
- [x] do not annotate `DBSNP_CAF=0.00` if nothing is found, similar for:
  - DBSNP_CAF
  - DBSNP_COMMON
  - DBSNP_G5
  - DBSNP_G5A
  - DBSNP_OVL_CAF
  - DBSNP_OVL_COMMON
  - DBSNP_OVL_G5
  - DBSNP_OVL_G5A
  - UK10K_AC
  - UK10K_AF
  - UK10K_OVL_AC
  - UK10K_OVL_AF
- [x] allow using long or short amino acid codes in amino acid change annotation
- [x] fix problem `INFO 'EXAC_AC' is not defined in th

[2016-07-26 14:24] holtgrewe opened #236 "Use HGNC database for annotating transcript with alternative gene IDs"

[2016-07-27 08:14] holtgrewe opened #237 "Validate pedigree for compatibility with VCF file"
... and write out a corresponding, legible error message in case of problems.

[2016-08-02 07:19] holtgrewe opened #238 "Add filter for "present in all affected" variants"
in a similar fashion to AD/AR/XD/XR in updated module.

[2016-08-03 14:31] holtgrewe commented on #238
This is a very relaxed filter that can come in handy in a lot of places, though.

[2016-08-03 15:27] #237 closed

[2016-08-11 13:56] #238 closed

[2016-08-11 14:18] #220 closed

[2016-08-11 14:31] holtgrewe opened #241 "Remove old Jannovar-style annotations"
We should focus on the new VCF format and new-style annotations only

[2016-08-11 14:44] holtgrewe commented on #235
- #242 solves amino acid code issue
- cannot reproduce "EXAC_AC is not defined in the header" issue any more

[2016-08-11 14:58] #235 closed

[2016-08-12 06:35] holtgrewe opened #244 "Fixup javadoc and re-enable checks on build"
We need to get the javadocs setup comprehensively and also make sure that only completely documented Javadoc goes into the repository. Thus, we need checks in Travis.

[2016-08-18 14:44] holtgrewe commented on #212
Version 0.17 is out, get it from Maven Central.

https://search.maven.org/#search%7Cga%7C1%7Cjannovar

[2016-08-18 14:44] #212 closed

[2016-08-18 14:45] holtgrewe opened #247 "Don't ignore variants not assigned to a gene in Mendel filter"
Simply don't try to perform composite recessive checking for them.

Note that this is only a limitation of `jannovar-htsjdk`, the `jannovar-core` code itself does not make any distinction.

[2016-08-22 09:55] stolpeo opened #248 "Fields in vcf are wrongly filled"
Jannovar 0.17 fills the `Gene_Name` field with the gene id and leaves the `Gene_ID` field empty.

### Jannovar 0.16

[code]

### Jannovar 0.17

[code]

[2016-08-26 06:21] holtgrewe commented on #222
Should be fixed in 0.17 release

[2016-08-26 06:21] #222 closed

[2016-08-26 06:22] holtgrewe commented on #211
Should be fixed in 0.17.

[2016-08-26 06:22] #211 closed

[2016-08-26 06:28] #248 closed

[2016-08-26 06:45] #241 closed

[2016-08-26 13:55] #236 closed

[2016-08-26 14:10] #247 closed

[2016-08-29 12:06] holtgrewe opened #255 "Function for transcript to genomic variant translation"
The functionality is already there just needs a driver program.

[2016-08-29 12:06] holtgrewe commented on #255
@petkraw

[2016-08-29 12:07] holtgrewe commented on #255
#256 closes this

[2016-08-29 12:11] #255 closed

[2016-08-29 12:14] #226 closed

[2016-09-06 07:01] stolpeo opened #257 "UnsupportedClassVersionError"
When I execute the Jannovar version downloaded from the [maven repository](https://mvnrepository.com/artifact/de.charite.compbio/jannovar-cli/0.17), I get the following error message:

[code]

[code]

[2016-09-06 07:09] visze commented on #257
Java 8 is required since jannovar 0.17 because we switched to htsjdk 2.x
and we want to use the new Java Stream io.

Oliver <notifications@github.com> schrieb am Di., 6. Sep. 2016 09:01:

[2016-09-06 09:23] stolpeo commented on #257
Works like a charm, thanks.

[2016-09-06 09:23] #257 closed

[2016-09-06 15:16] stolpeo opened #258 "Null pointer exception with refseq data"
There seems to be an issue regarding refseq data and the jannovar refseq/GFF parser. I get a null pointer exception while processing different data sets:

[code]

[code]

[code]

[2016-09-07 16:35] visze commented on #258
thx Oliver: I have took at this in detailed. refseq always makes trouble. And this time it is not the case that they changed their URLs. :-(

[2016-09-08 12:57] visze commented on #258
Found the bug and added a fix. It only appears for the refseq curated versions!
@holtgrewe can you prepare a hotfix version 0.17.1?

[2016-10-10 12:10] #258 closed

[2016-11-01 10:32] martenj opened #263 "update Contact address"
the current contact email wil be deactivated soon

[2016-11-04 10:27] #263 closed

[2016-11-15 20:28] mmokrejs commented on #218
Finally I got to tweak the Gentoo package recipe file, it builds now although it fetches the 95MB of maven's dependencies. I pushed it now to science overlay as https://cgit.gentoo.org/proj/sci.git/commit/sci-biology?id=3bd45176e875ab2b69e36a4d430dbb4b5410fb3d . However, users must enable the package themselves due to the 95MB of deps being fetched on each re-install attempt.

Am I right only thes

[2016-11-23 12:45] visze commented on #218
In the cli jars the command-line interface is implemented (jannovar-cli for annotation, jped-cli for filtering variants using a pedigree and a mode of inheritance)

If the core etc jar is included depends on how you package the cli jars. Normally they are in a lib folder. But they are needed because they have the core functionality. E.g. if you only want to use jannovar as library for annotation i

[2016-11-24 19:30] egoecho opened #268 "Error in jped-cli"
When I run jped-cli (v0.16) there is an error. How to solve it? Thanks!

[code]

My java version is:
[code]

[2016-11-25 09:57] visze commented on #268
Thank you for the detailed description. There seems to be a problem while parsing the database file `hg19_ensembl.ser`.

Did you create the database with jannovar v0.16? It must always be the same version. Can you try to use other databases like refSeq or UCSC? Does the error also occur there?

You should also try to use the actual 0.17 version of jannovar. Please notice that the jped-cli function

[2016-11-25 12:10] egoecho commented on #268
Thanks for your reply! I downloaded hg19_ensembl.ser using Jannovar-cli-0.17 but ran jped-cli-0.16. That may be the problem. May I ask how to use jped-cli function on jannovar-cli-0.17.jar? I tried below command but it is not work:

[code]

[2016-11-25 14:59] visze commented on #268
OK. The serialized database is not backwards compatible.

Oh I see your problem! First of all it is not documented where to find it. And in addition the manual was not updated See [here](http://jannovar.readthedocs.io/en/master/jped.html)!

But for you just run `java -jar jannovar-cli-0.17.jar annotate --help` first.

There you will see some options you need:

[code]
But this will just annotate th

[2016-11-27 10:36] egoecho commented on #268
Thank you for your suggesion. I tried download database using jannovar-0.16 instead. However, a large mount of warning/error messages show up:

[code]

Even though, file data/hg19_ensembl.ser was still created, and then I can use it for jped-cli-0.16.jar without error. Do you think is the hg19_ensembl.ser file OK and shall I just ignore these warning/error messages?

[2016-11-28 09:25] visze commented on #268
Yes the the database file is fine. There are some strange transcripts in ensemble which are not "complete" that's why jannovar print out this error.
A short note: Jannovar db is not needed for your task, only if you enable the gene-wise option.

[2016-11-28 15:29] visze opened #269 "bug in downloading refseq database using download-dir folder"
[code]
[code]

without the `--download-dir` option it works fine!

[2016-11-30 14:48] egoecho commented on #268
I found another problem of jped-cli-0.16. In the case I used --gene-wise parameter (with hg19_ensembl.ser downloaded by jannovar-0.16), the output vcf file have only header but no any variant record. I've also tried added a "chr" prefix to the chromosome labels of my input vcf file but it is still the same. What's the problem it could be? Without --gene-wise, the jped-cli-0.16 has no such problem

[2016-11-30 14:58] visze commented on #268
What happens when you change the inheritance mode to AUTOSOMAL_RECESSIVE? Is the VCF file still empty? Gene-wise makes only sense on recessive inheritance using a gene as compound heterozygouse target.

[2016-11-30 15:03] egoecho commented on #268
Yes, the output vcf is still empty.

[2016-11-30 15:04] visze commented on #268
can be if no variants match the inheritance pattern.

I can only check this if I have your ped and vcf files

[2016-11-30 15:29] egoecho commented on #268
Sorry that it is not convenient to provide you the data (I have no permission). Is there any test data for jped-cli --gene-wise in github that I could have a try?

In my input vcf file there are 655114 PASSed variants. Is it possible that none of them remain in --gene-wise mode? The ped file is:
[code]

[2016-11-30 16:08] visze commented on #268
Not likely. PED file seems fine!

Ok I tested it with short example. Same problem! So I am sorry. you have to switch to version 0.17 or later
[code]

[2016-11-30 21:07] mmokrejs commented on #218
So you say you advise users to move/install on their system just these three jar files?

jannovar-cli/target/jannovar-cli-0.16.jar
jped-cli/target/jped-cli-0.16.jar
jannovar-core/target/jannovar-core-0.16.jar

My question was whether the functionality in say jannovar-inheritance-checker/target/jannovar-inheritance-checker-0.16.jar is already packed into e.g. jannovar-cli/target/jannovar-cli-0.16.j

[2016-12-01 09:16] visze commented on #218
So if you use maven (`mvn package`) as recommended in the [manual](http://jannovar.readthedocs.io/en/master/install.html) two files per package are created. For example the `jannovar-cli-0.17.jar` includes all libraries (jannovar and others like htsjdk). There is also a file `original-jannovar-cli-0.17.jar` which contains only the source files of the specific package.

Jannovar is, first of all, c

[2016-12-01 09:47] egoecho commented on #268
Thanks! So, how to use jped-cli funciton in jannovar 0.17? Could you give an example of the command line? In java -jar jannovar-cli-0.17.jar annotate --help, there is no parameter -m and --gene-wise. Or, is there jped-cli-0.17.jar can be downloaded on internet?

[2016-12-01 12:44] visze commented on #268
We will describe it in the 0.18 release in more detail. Right now the documentation is missing. Sorry about that.

The "new" inheritance CLI just annotates every position if it is dominant, recessive etc. There will be no filter. The resulting VCF have to be filtered afterwards yourself

[2016-12-01 14:30] egoecho commented on #268
I tried below command in jannovar-cli-0.17 according to the --help. However, it always has an error:

[code]

However, below command works fine:

`java -Xmx2G -jar /home/jxiong/programs/jannovar/jannovar-cli-0.17.jar annotate -d /home/jxiong/programs/jannovar/data-0.17/hg19_ensembl.ser -i ../vcf_each_family/Family4.vcf --show-all`

BTW, what is the --reference-fasta for? Shall I used it in my pedi

[2016-12-01 14:39] visze commented on #268
no. the reference-fasta is only needed for exac/1KG annotations

[2016-12-01 14:42] egoecho commented on #268
But it still not work after I removed the --reference-fasta. What's wrong in my command?

[code]

[2016-12-01 15:16] visze commented on #268
the command is `--showall` not `--show-all`and you do not need this because it is only used for the annotation with transcripts.

[2016-12-01 16:03] egoecho commented on #268
Thanks so much! It finally works :)

So, may I ask how the compound heterozygous mutation was labeled in the output vcf of jannovar-cli-0.17? Also, I found there are more than thousand variants annotated as "INHERITANCE=AD,AR", is that mean these mutations are compound heterozygous? (otherwise how could a mutation be both dominant and recessive?)

[2016-12-01 16:10] visze commented on #268
So `AR` can be homozygous or comp heterozygous. What exactly you have to look at the genotypes (index `1/1` for homozygous).

`INHERITANCE=AD,AR` can also be possible especially if there are genotypes with an unknown allele (`.`). E.g the next example can be dominant (de-novo mutation) or homozygous:

[code]

[2016-12-06 08:46] holtgrewe opened #271 "Rename tx-to-chrom to hgvs-to-vcf"
Better reflects what the command does.

[2016-12-06 08:46] holtgrewe opened #272 "Update RTD documentation"
Should be adjusted to the various changes in Jannovar.

- [x] improve index page to give short introduction and library, instructions for contributing etc., e.g., see https://vcfpy.readthedocs.io/en/stable/
- [x] make installation page list both binary download and building from source
- [x] adding documentation for `annotate-csv`
- [x] remove JPED documentation
- [x] remove documentation of varia

[2016-12-06 08:53] visze opened #273 "TABIX annotation"
Use tabix indexed sources to annotate variants (similar to vcf annotatiosn with UK10K, dbsnp or exac)

[2016-12-06 10:27] holtgrewe opened #274 "Write out Jannovar version to .ser file"
This allows for more informative error messages.

[2016-12-06 10:31] holtgrewe commented on #269
worksforme

[2016-12-06 10:31] #269 closed

[2016-12-06 10:46] #271 closed

[2016-12-06 10:50] visze opened #277 "BestAnnotationListTextGenerator"
What should we do with this? Actuel it is marked as depricated

[2016-12-07 06:57] holtgrewe commented on #268
The annotation of compatible modes of inheritance is now documented in http://doc-openbio.readthedocs.io/projects/jannovar/en/develop/inheritance.html and will be included for the 0.18 documentation.

[2016-12-07 06:57] #268 closed

[2016-12-07 17:25] visze opened #279 "java.lang.UnsupportedOperationException"
if you want to annotate a vcf with dbsnp AND uk10k this error appears:

[code]

[2016-12-08 11:19] #272 closed

[2016-12-08 11:21] holtgrewe opened #281 "UCSC transcripts do not contain IDs"
@visze Let's make a 0.19 bugfix release; )

[2016-12-08 11:24] holtgrewe opened #282 "Refer to javadoc.io instead of gh-pages for API documentation"

[2016-12-08 16:01] #282 closed

[2016-12-08 16:01] #281 closed

[2016-12-08 16:01] #279 closed

[2016-12-08 16:59] julesjacobsen opened #284 "Incorrect InheritanceMode calculation for multisample VCF with multiple alleles."
Consider the following:

[code]

[code]

This should be flagged as the ``A`` allele being autosomal dominant. Instead the compatibility list is empty.

Similarly for AR:

[code]

[code]

I think much of this comes from the assumption in testing that there are no multiple alleles at a given position and also in the Genotype class that there can only be alleles with values -1, 0 or 1. This is not al

[2016-12-08 17:07] julesjacobsen opened #285 "1/2 genotype incorrectly considered as HOM_ALT"
Genotype does not take into account genotypes which could come from a multi-sample VCF where there are multiple alternative alleles from different samples leading to 1/1, 1/2, 2/2 etc. genotypes.

In these cases Genotype reports as being a homozygous alt, where it should be heterozygous. HTSJDK refers to this as Genotype.isHetNonRef() which is why the jannovar-inheritance-checker module doesn't su

[2016-12-09 02:14] bengyunfu opened #287 "java.lang.NullPointerException"
When I run jannovar-cli-0.18.jar annotate-vcf , I got some problems.

The exception is:
[code]

I try to debug it but I hardly read it because of the long relationship or chain. So I search for help here.

Commandline is:
`java -Xms4G -Xms4G -jar ~/tools/jannovar/jannovar-cli-0.18.jar annotate-vcf -d ~/tools/jannovar/data/hg19_refseq.ser -i partital.vcf -o ped_result_v2.vcf --pedigree-file ../../l

[2016-12-09 02:15] bengyunfu commented on #287
For more details, I would like to complement about the vcf I got. I was using bcftools merge to get multi-sample vcf. Does it gone cause problems?

[2016-12-09 08:36] visze commented on #287
I think it is not a problem with the vcf. Maybe a rare vcf line causes this but this is the problem of our implementation. Can you check it if it runs trough without the pedigree-file?

[2016-12-09 09:05] bengyunfu commented on #287
Yes, it can work. But it seem that it just write one vcf to another vcf without any change. So does it mean maybe it is the problem of my pedigree-file?

[2016-12-09 09:10] bengyunfu commented on #287
So I would like to cat my head of the vcf file to there.
[code]
And also the pedigree file.
[code]

[2016-12-09 11:52] visze commented on #287
I get the same error with our vcfs. So it is a bug in jannovar!

[2016-12-09 14:52] visze opened #289 "wrong cast!"
[Here](https://github.com/charite/jannovar/blob/develop/jannovar-htsjdk/src/main/java/de/charite/compbio/jannovar/mendel/bridge/VariantContextMendelianAnnotator.java#L170) the payload is set with an variantcontext.

And [here](https://github.com/charite/jannovar/blob/develop/jannovar-htsjdk/src/main/java/de/charite/compbio/jannovar/mendel/bridge/VariantContextMendelianAnnotator.java#L85) the paylo

[2016-12-09 15:00] visze commented on #287
The transcript database of chrM is not parsed. Therefore the list of contigid 25 is empty.  (tested with refseq)

1. Load the chrM transcript (might be not possible because transcripts are not defined in the gff)
2. When building the genotype list be sure that for every chromosome an arralist is present (maybe without genes). I have an example implementation here: https://github.com/charite/jannov

[2016-12-09 16:54] visze commented on #285
closed by pull request #288

[2016-12-09 16:54] #285 closed

[2016-12-16 03:52] bengyunfu commented on #287
Thank for your effort!!!

[2016-12-16 07:43] bengyunfu commented on #287
Hello again, I try to fix this problems by recompiling through your revised code. But I got another NullPointerException happen at

`Exception in thread "main" java.lang.NullPointerException
	at de.charite.compbio.jannovar.mendel.impl.MendelianCheckerARCompoundHet.collectTrioCandidates(MendelianCheckerARCompoundHet.java:149)
	at de.charite.compbio.jannovar.mendel.impl.MendelianCheckerARCompoundHet

[2016-12-16 08:20] bengyunfu commented on #289
So did you have any ideas to fix this? I can't read JAVA so I can't fix it myself.

[2016-12-16 09:44] visze commented on #289
@holtgrewe is working on that issue

[2016-12-16 09:45] visze commented on #287
this issue is still open and not fixed yet

[2016-12-16 10:03] holtgrewe opened #291 "Finer granular inheritance modes"
I think for the practitioner, the following additional inheritance modes would make sense:

- `DE_NOVO` (either in addition or instead of AD/XD if one wants to screen for non-de novo AD/XD first and is not interested in the possible false-positive calls)
- `COMPOSITE_RECESSIVE` (either in addition to or instead of AR/XR if one wants to exclude this case in a first step)

[2016-12-16 11:25] visze commented on #291
I would call them just `DOMINANT` and `RECESSIVE`

[2016-12-16 11:46] pnrobinson commented on #291
For DE_NOVO -- basically, if we just make this token to be a synonym for AUTOSOMAL DOMINANT this would work in many cases. There are however also cases of dominant X-recessive diseases. It is possibly to prove that 1/3 of all cases of lethal X-recessive diseases must be de novo mutations, for instances. Do we currently call de novo X-chromosomal mutations? Thus, the mother is HOM REF and the son i

[2016-12-16 11:55] holtgrewe commented on #291
My only point was to make post-filtering VCF files easier by not having to look at genotypes (as this also involves looking at the pedigree) but just ask "is de novo in the list of compatible variants".

The same holds for composite heterozygous as this is not the first thing to look at in consangenous families.

If there were additional special markers in the VCF files, this could be done with `g

[2016-12-16 11:58] pnrobinson commented on #291
I don't understand, do you want to write a label into the annotated VCF file?
If people are grepping, there are likely to be just as many people who are looking for RECESSIVE and expecting to find both as vice versa. Also, there is the X chromosomal whichI do not think is implemented. Can we talk about this before you implement anything?

[2016-12-16 12:15] visze commented on #291
x-chromosomal inheritance is implemented by the way :-)

[2016-12-16 12:33] visze opened #294 "More tests for CLIs"
CLI is not good tested right now. We need more examples especially with the additional annotations.

[2016-12-16 12:56] visze commented on #287
fix #293 does nopt fix the job! using refseq we still have the problem. I am really sure it is because of `chrM`. Just have a look here: https://github.com/charite/jannovar/compare/develop...visze:hotfix/null_geneList_for_inheritance

[code]

[code]

[2016-12-16 12:58] stolpeo opened #295 "Feature request: ExAC annotation number of homozygotes"
Is it possible that the ExAC annotation step also annotates the number of homozygotes? This would be useful for further filtering inheritance.

[2016-12-16 13:11] #289 closed

[2016-12-16 13:11] visze commented on #287
Now there is a new bug:
[code]

[2016-12-16 13:46] bengyunfu commented on #287
Thank you very much for your patient. I am looking forward for next version of your programme.

[2016-12-16 15:12] visze commented on #287
now it works on develop!

[2016-12-16 15:12] #287 closed

[2016-12-16 15:14] holtgrewe commented on #287
Please test. I'll try to release 0.20 to Maven Central on Monday afternoon (Berlin Time)

[2016-12-16 23:36] pnrobinson commented on #291
I am not sure this is a great idea, since there are many "gotchas" -- false positive or false negative variants calls are one of them. I think this should be a special tool rather than a library function -- but maybe I do not understand what we are talking about, sorry I could not take the call today, let's try again next week.

[2016-12-19 12:20] #295 closed

[2017-01-06 13:38] martenj opened #302 "Unsupported dbSNP build"
Jannovar master v0.19

jannovar-cli-0.19.jar annotate-vcf ...

``
ERROR: Unsupported dbSNP build ID 149 only supported is b174
de.charite.compbio.jannovar.vardbs.base.JannovarVarDBException: Unsupported dbSNP build ID 149 only supported is b174
        at de.charite.compbio.jannovar.vardbs.dbsnp.DBSNPAnnotationDriver.<init>(DBSNPAnnotationDriver.java:45)
        at de.charite.compbio.jannovar.vard

[2017-01-09 09:24] visze commented on #302
v0.19 is buggy. What about v0.20? Same error?

[2017-01-09 14:51] martenj commented on #302
since I'm not able to compile the v0.20 I can not test it.

[2017-01-09 14:59] martenj opened #303 "Failed to compile Jannovar v0.20"
Compilation (e.g. `mvn package`) failed for Jannovar v0.20 for fresh checkout.

Checkout
[code]

switch to v0.20
[code]

Environment:

Ubuntu 16.04.1 LTS - 64bit
[code]

Error:
[code]

[2017-01-09 17:58] visze commented on #303
new compuer, new enviroment!

same commands. no error!

Two for options for you:

1. Run `mvn clean install package`
2. delete everything in `/.m2/repository/` and run `mvn package` again

[2017-01-16 12:58] pnrobinson opened #304 "stop lost variants buggy?"
For example

chr2    85322745    .    A    G    209.77    PASS    AC=1;AF=0.500;AN=2;ANN=G|stop_lost|HIGH|TGOLN2|10618|transcript|NM_001206840.1|Coding|4/4|c.1363T>C|p.(*455Gln)|1697/10279|1363/1443|455/481||;BaseQRankSum=-0.623;ClippingRankSum=0.000;DP=10;ExcessHet=3.0103;FS=0.000;MLEAC=1;MLEAF=0.500;MQ=60.00;MQRankSum=0.000;QD=20.98;ReadPosRankSum=1.348;SOR=0.473    GT:AD:DP:GQ:PL    0/1:2,8:10:

[2017-01-18 18:03] nvteja opened #305 "HGVS to VCF error"
Hello,

First of all, thanks a lot for creating and maintaining this tool.

I am trying to test the HGVS to VCF conversion command, but I see that is always right shifting the deletions to one base right. Here is an example

HGVS: NM_018136.4:c.567_569del
the correct VCF representation for this HGVS should be:
1 197112812 . GCTC G

but here is what the Jannovar's hgvs-to-vcf outputs intsead

1 197

[2017-01-19 12:46] visze commented on #303
We figured out that it is a problem of the encoding (de_DE instead of en_US). Should we consider this further or discard it. It can be solved by using `export LANG=en_US.UTF-8`

[2017-01-21 19:01] pnrobinson opened #307 "Calculate position to exon/intron boundary"
For many applications, it would be useful to know the number of nucleotide residues that a variant is locatged away from the exon/intron boundary. This is basically just Delta (exon end, position). We need to consider if we want to take the absolute value of this distance or not--if we do not, then the sign of the distance encodes whether the distance is from the previous acceptor site (positive)

[2017-01-28 13:27] holtgrewe commented on #304
Good catch. This is caused by Jannovar 0.20 trusting the user variant more than the transcripts. Gosh!

I am changing this behaviour in #308 for the 0.21 release.

[code]

@pnrobinson @visze @martenj I think we should make a 0.21 release for the book with this change and other changes we might need in between. Just use the current develop branch after merging (nothing else should really change). W

[2017-01-28 13:27] holtgrewe commented on #304
@pnrobinson please close if you think this resolves this particular issue

[2017-02-12 16:21] #304 closed

[2017-02-12 16:28] holtgrewe opened #312 "Integrate quality filters to make one-call exome annotation pipeline"
The following additional functionality allows to call Jannovar once and get a properly annotated exome for rare disease analysis:

- [x] soft-filter genotypes with low quality (GQ, coverage, outlier AAF) and variants where all affecteds have low quality (switched off by default)
- [x] soft-filtered based on frequency information from dbSNP/ExAC
- [x] annotate non-exomic variants (outside of exomes

[2017-02-12 16:33] holtgrewe commented on #291
@pnrobinson let's exclude de novo for now but I think we can agree that an additional flag on whether the variant of interest is homozygous or heterozygous will not harm. I agree that people can always use another software or eyeball the variant but I'd like people to be able to grep out the compound heterozygous variants compatible with recessive mode of inheritance if they have a consanguineous

[2017-02-20 09:53] visze opened #314 "Inheritance annotation bug"
If only two siblings are submited with a comp. het. mutation jannovar call them both AD (correct) but not AR (comp. het.).
If only sibling is given in the input the inheritance-mode is called correctly (AD and AR).

Example:

* VCF
[code]

* PED

[code]

[2017-02-23 11:18] holtgrewe opened #317 "Simplify single-sample inheritance mode annotation"
Instead of giving PED file, add a flag that works with single-sample VCF files and assumes that the single individual is the (affected) index.

[2017-02-23 11:18] #312 closed

[2017-02-23 11:22] #303 closed

[2017-02-24 07:55] holtgrewe opened #318 "Allow annotation with COSMIC"

[2017-03-02 16:44] holtgrewe opened #319 "Better warning on unsorted input"
Is "Trying to add contig twice <ID>" should be something more user friendly.

[2017-03-20 21:20] pnrobinson opened #321 "EXAC annotation descriptions in VCF header (##INFO) are wrong"
For instance, all of these items have the same definition.

##INFO=<ID=EXAC_AC_AFR,Number=A,Type=Integer,Description="Overall number of observed alleles in all populations">
##INFO=<ID=EXAC_AC_ALL,Number=A,Type=Integer,Description="Overall number of observed alleles in ALL / All population">
##INFO=<ID=EXAC_AC_AMR,Number=A,Type=Integer,Description="Overall number of observed alleles in all populat

[2017-03-23 08:29] visze commented on #314
see #322

[2017-03-23 08:29] #314 closed

[2017-03-27 08:15] #321 closed

[2017-03-27 08:15] #319 closed

[2017-03-27 08:15] #317 closed

[2017-03-27 09:33] holtgrewe commented on #305
Should be fixed once #325 is merged.

Please reopen if you see anything else suspicious. I'll try to fix it in a shorter time then.

[2017-03-27 09:34] #305 closed

[2017-03-27 09:47] holtgrewe commented on #277
Should be undeprecated, see upcoming PR

[2017-03-27 09:47] #277 closed

[2017-03-27 14:38] holtgrewe commented on #291
#327 adds additional annotation on recessive annotation

The remaining missing thing for now is mitochondrial

[2017-03-27 14:43] holtgrewe commented on #291
Postponing mitochondrial

[2017-03-27 17:50] holtgrewe opened #329 "Allow for annotation with gnomAD database"
- http://gnomad.broadinstitute.org/

[2017-03-27 18:24] holtgrewe commented on #318
Only relevant fields in 73

- COSMIC ID (`COSN`/`COSM`)
- `SNP` (classified as SNP)
- `CNT` (how many samples have this mutation)

[2017-03-28 07:35] holtgrewe commented on #302
What about the release v0.20 version?

[2017-03-28 07:36] holtgrewe commented on #284
I think @visze has to look at this

[2017-03-28 08:04] holtgrewe commented on #274
#330

[2017-03-28 09:40] holtgrewe commented on #318
#331

[2017-03-28 09:40] #318 closed

[2017-03-28 15:58] #274 closed

[2017-03-30 10:46] holtgrewe commented on #329
OK, this needs some more testing ;)

[2017-04-02 14:57] holtgrewe opened #335 "Region-wise annotation (add --interval parameter)"
Allow annotation of regions via a `--interval` parameter.

This will allow parallelization (e.g., chromosome-wise) from the outside.

[2017-04-02 15:41] #335 closed

[2017-04-04 08:20] #329 closed

[2017-04-10 15:41] stolpeo opened #338 "VCF header incomplete"
The vcf header after annotating with Jannovar seems incomplete:

[code]

CL used:

[code]

[2017-04-12 11:02] julesjacobsen opened #339 "'toString()' string in toString() output"
The toString() methods in jannovar.hgvs.nts package all have ```+ ", toString()=" + super.toString() +``` e.g.
[code]
which gives a lot of verbose output:

[code]
It reads more easily when the raw object reference isn't included:
[code]

This is a tiny issue only affecting readability of the toString output, but it would make it more readable not to have this in the string output. I found it a bit

[2017-04-18 12:41] visze opened #340 "nicer exeption message when --ref-fasta command is missing"
When annotating with genomad but missing the reference fasta we get a very ugly exception with no hint that the reference fasta is missing:

command:
[code]

error:
[code]

[2017-04-25 07:57] stolpeo opened #341 "Jannovar returns code 0 when .ped file is missing"
When using Jannovar for inheritance annotation and the pedigree file is actually missing,
Jannovar returns 0 instead of an error code:

	$ java -jar jannovar-cli-0.22-SNAPSHOT.jar annotate-vcf \
		--ref-fasta hs37.fa \
		-i sample.vcf.gz \
		-o sample.jv.vcf.gz \
		-d hg19_refseq.ser \
		--inheritance-anno-use-filters \
		--pedigree-file sample.ped  # THIS FILE IS MISSING

	[...]
	VCF file sample.

[2017-04-25 08:10] stolpeo commented on #341
User error, so I close the ticket.

[2017-04-25 08:10] #341 closed

[2017-04-28 10:17] stolpeo opened #342 "Wrong description of two filter flags"
Wrong description of two filter flags:

    ##FILTER=<ID=MinAafHomAlt,Description="Hom. alt genotype has alternative allele fraction <4">
    ##FILTER=<ID=MaxAafHomRef,Description="Genotype has coverage >0.3">

[2017-04-28 12:49] holtgrewe opened #343 "Also interpret gnomAD frequencies for FILTER_VAR_MAX_FREQUENCY_AD"

[2017-05-03 12:25] #343 closed

[2017-05-03 12:26] holtgrewe commented on #340
927ca7780ee273258d3126dd54828ed383d65dd4

[2017-05-03 12:26] #340 closed

[2017-05-03 12:29] #342 closed

[2017-05-03 12:29] holtgrewe commented on #339
Hi, could you contribute a PR?

[2017-05-03 12:30] holtgrewe commented on #338
This is an issue with vcfpy.

[2017-05-03 12:30] #338 closed

[2017-05-03 14:47] julesjacobsen commented on #339
PR created #344

[2017-05-04 00:31] MrsLaviniaG opened #345 "Error on annotate-vcf (most likely due to no variants fitting model)"
Hi, I have an error with annotate-vcf which I suspect is because no variants fit the model, however the error does not specifically declare that:

java -jar jannovar-cli-0.21.jar annotate-vcf -d data/hg19_refseq.ser -i Case_AD.vcf -o casead.vcf --pedigree-file casead.ped
Options
JannovarAnnotateVCFOptions [escapeAnnField=true, pathInputVCF=Case_AD.vcf, interval=, pathOutputVCF=casead.vcf, pathVCFD

[2017-05-04 07:31] visze commented on #345
Hi Lavinia,

thank you for reporting this issue. Jannovar should only annotate the inheritance and not filter them directly. If all variants do not fit to any inheritance it should still run trough and give you an output. So I think is a real bug.

Is it possible to give us the vcf and ped file? Maybe in shorten and anonymous form to reproduce the error?

[2017-05-04 14:00] #339 closed

[2017-05-04 14:03] holtgrewe commented on #345
Could you try with the attached file?

[jannovar-cli-0.22-SNAPSHOT.jar.zip](https://github.com/charite/jannovar/files/976361/jannovar-cli-0.22-SNAPSHOT.jar.zip)

[2017-05-22 21:34] holtgrewe commented on #345
Please try with released 0.22 version, otherwise reopen.

[2017-05-22 21:34] #345 closed

[2017-05-22 21:34] holtgrewe commented on #302
Reopen if the problem persists.

[2017-05-22 21:34] #302 closed

[2017-05-22 21:35] holtgrewe commented on #273
See #346, is a good start.

[2017-05-22 21:35] holtgrewe commented on #231
#346 is a good start.

[2017-05-22 21:35] holtgrewe commented on #273
#231 should be used for completing dbNSFP support.

[2017-05-22 21:35] #273 closed

[2017-05-22 21:36] holtgrewe commented on #284
bumping milestone...

[2017-05-22 21:41] holtgrewe commented on #307
I think we want to have the following:

- query is a function given transcript and genomic position
- result is a record `{transcript, isExon, exonOrIntronNo, delta}`
    - if is exon and `delta > 0` then we are `delta` bases right of splice 5' junction of exon (`delta = 1` is the first exon base)
    - if is exon and `delta < 0` then we are `delta` bases left of splice 3' junction of exon (`delta

[2017-05-23 13:29] visze commented on #284
Year I am aware of that. This will need a complete refactoring of the actual ineritance-mode checker. Right now I have no time for this. But maybe in the future

[2017-05-23 13:36] pnrobinson commented on #284
@visze If you realistically have no time for this, then somebody else should work on this. There was also another issue with the recessive inheritance checker that we had been discussing. Perhaps Jules and I could take a look at this part of the code and try to find a solution? I think we need to make sure the analysis is correct.

[2017-05-23 13:41] visze commented on #284
I have really realistically no time for that right now!

Which is the other Issue? I am only aware of #291

[2017-06-14 02:33] pnrobinson opened #347 "getTmByGeneSymbol"
In JannovarData, the documentation for getTmByGeneSymbol seems to ba a copy-paste error from the method getTmByAccession.
It would also be good to document here which transcriptModel is chosen for a gene model, since there are usually multiple transcripts per gene.

    public com.google.common.collect.ImmutableMultimap<String,TranscriptModel> getTmByGeneSymbol()

    Returns:
        map from tra

[2017-06-23 08:51] roland-ewald opened #348 "Change remaining `TranscriptInfo` mentions to `TranscriptModel`"
`TranscriptModel` was called `TranscriptInfo` previously, and some javadocs, inline comments, and variables still refer to the old name (which is confusing).

The merged PR that renamed `TranscriptInfo` to `TranscriptModel` is https://github.com/charite/jannovar/pull/79

[2017-06-23 10:21] roland-ewald opened #350 "STOP_LOSS not annotated correctly on some RefSeq transcripts"
For some transcripts, `STOP_LOSS` variants are not annotated correctly (no impact nor variant effect given).

## How to reproduce

Reproducible with current version (0.22) and `hg19/refseq` data:

For example, this `ZNF717` variant as defined in a sample `stop_loss.vcf` (attached, see [stop_loss_refseq.zip](https://github.com/charite/jannovar/files/1097483/stop_loss_refseq.zip)):

[code]
Running

[2017-06-27 07:50] roland-ewald opened #352 "Interfaces for core classes"
To work around issues like #350 is very tough right now, because the core annotation classes are based on concrete types (i.e., classes, not interfaces) and, at the same time, these classes are `final`.

This makes it impossible to extend or adjust the annotation algorithms themselves without introducing much redundancy.

I suggest to extract interfaces for the following classes (and make their ca

[2017-06-27 07:57] holtgrewe commented on #352
Hi, thanks for your recent tickets.

The reasoning behind keeping everything "locked down" was that we have not designed the classes for extendability (yet) and it is later easier to relax than restrict.

I agree very much with your proposal of opening this up.

How pressing is this for you? Currently, there is few time on our side but that should improve during summer.

[2017-06-27 08:48] roland-ewald opened #353 "Support for hg19/refseq interim FASTA format"
## Problem

In Feburary, the NCBI published [a new "interim" alignment of RefSeq transcripts against hg19](https://www.ncbi.nlm.nih.gov/books/NBK430989/), which can be found here: ftp://ftp.ncbi.nlm.nih.gov/genomes/Homo_sapiens/GRCh37.p13_interim_annotation/

However, the [new FASTA file with the transcript RNA](ftp://ftp.ncbi.nlm.nih.gov/genomes/Homo_sapiens/GRCh37.p13_interim_annotation/interim_

[2017-06-27 08:54] roland-ewald commented on #352
Hi Manuel,
Glad to hear you agree!

This is not super pressing for us, but at some point would just be really nice.

As I said, I'm also happy to help but I realize this could be a little disruptive (i.e., touching many important files), so I guess it should be planned ahead (e.g. pushed until after the next release or something).

[2017-06-28 19:23] holtgrewe opened #354 "Fix line endings for FASTA files to LF"
Otherwise, will get CRLF on Windows which breaks with FAI files on tests. The same for VCF files.

[2017-07-07 11:52] #348 closed

[2017-07-07 11:52] #350 closed

[2017-07-12 19:50] ielis opened #355 "Null pointer in AnnotationLocation.getRankType()"
Hi everybody,
I've been recently trying to use Jannovar in a java project where I need to filter VariantContext objects depending on their position in exon or intron. My approach was to use the value of `AnnotationLocation.RankType` enum like this:
[code]

Unfortunately, I can't avoid getting **NullPointerException** when testing some intergenic variant (e.g. rs761275, 1:207972154A>C). The null po

[2017-07-13 17:03] visze commented on #355
Hi Daniel,

as defined in the `Annotation.class` it can be `null` when the if the variant is not even nearby a TranscriptModel ( I think around 20Kb away from it). E.g. your example is intergenic.
I see that it is maybe not the best idea to use `null` here. A rank like undefined or INTERGENIC might be much better.
In your case I think you can remove every variant with a RankType of null.

Cheers
M

[2017-07-13 19:07] ielis commented on #355
Hi Max,
after reading the `Annotation.class` docs I figured out that I've made a silly mistake - I thought the `null` is coming from `getRankType()` but it was actually coming from `getAnnoLoc()` which is (as you wrote) `null` for intergenic variant distant from TranscriptModel.
Now the code works perfectly. Thank you very much for help and congratulations to the hyperSMURF paper!

Cheers
Daniel

[2017-07-13 19:07] #355 closed

[2017-07-23 13:16] visze opened #356 "codacy"
add codacy to improve code stype and reduce error prone code

what about doing a half-day codestyle improvement in august?

[2017-08-30 14:36] holtgrewe opened #357 "Clinvar annotation always writes out "SOMATIC" as variant origin"
This has to be reviewed and fixed.

[2017-09-05 14:38] zslastman commented on #302
@all it looks like b174 is a bug, it should be b147 in the error message.

[2017-09-06 12:17] visze opened #358 "Make naming of POPMAX/BEST consitent between ExAC and gnomAD"
Right now it is called `EXAC_BEST_AF` in ExAC and `GNOMAD_EXOMES_AF_POPMAX` in gnomAD.

I guess BEST and POPMAX means the same. I would suggest to call it POPMAX.

Also there is a nice info string in gnomAD:
[code]

This is also missing in ExAC

[2017-09-06 12:21] visze commented on #302
thx. I fixed it.

[2017-09-07 12:00] #357 closed

[2017-09-07 12:08] holtgrewe commented on #353
Hi Roland,

sorry for the delay.

Thank you for the notification.

I think changing this will be very simple.

1. Change line 140 in `RefSeqParser.java` to detect which format is present. Here, I would like to see a check for the old format and for the new format, the accession should start with `[NX]M_` or so (I think they added more naming patterns), to make parsing detect possible problems.
2.

[2017-09-08 08:28] roland-ewald commented on #353
Hi Manuel,

Thanks for looking into this.
I will try to come up with a PR against `develop` over the weekend.

Cheers,
Roland

[2017-09-08 12:25] visze opened #361 "Bug when deletion overlaps with stop/last AA"
https://github.com/charite/jannovar/blob/44333688c7c319623761478cd5d7d210fbc4d8dc/jannovar-core/src/main/java/de/charite/compbio/jannovar/annotation/builders/DeletionAnnotationBuilder.java#L252

[code]
is ZERO based! So you cannot compare the last zero-based position with the length of the transcript wit `==`. I guess it should be:
[code]
Or use maybe use `lastPos()` to check if the deletion ends

[2017-09-08 12:27] holtgrewe commented on #361
Good catch!

Am 08.09.2017 2:25 nachm. schrieb Max <notifications@github.com>:

Assigned #361<https://github.com/charite/jannovar/issues/361> to @holtgrewe<https://github.com/holtgrewe>.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/charite/jannovar/issues/361#event-1240692918>, or mute the thread<https://github.com/notifica

[2017-09-08 12:33] visze commented on #361
Oh sorry. I mean the line 246! where we have the `==`

https://github.com/charite/jannovar/blob/44333688c7c319623761478cd5d7d210fbc4d8dc/jannovar-core/src/main/java/de/charite/compbio/jannovar/annotation/builders/DeletionAnnotationBuilder.java#L246

But the following lines might be also problematic! We have to evaluate that more closely

[2017-09-14 17:48] pnrobinson opened #362 "Mitochondrial inheritance"
I would like to implement a mitochondrial filter. At the simplest level (for a single exome or genome), all we need to do is filter for genes that are localized to the MT. For pedigrees, we basically just need a rule that the gene needs to be MT and no instance of affected father to affected child was observed.
This is the classic definition (from GeneReviews):
A family history in which males and

[2017-09-15 10:04] julesjacobsen commented on #362
Will need a ```de.charite.compbio.jannovar.mendel.ModeOfInheritance.MITOCHONDRIAL``` to make a start on this in Exomiser. Currently using the ```de.charite.compbio.jannovar.mendel.bridge.VariantContextMendelianAnnotator``` to do the annotating.

[2017-09-15 10:18] visze commented on #362
If we keep it simple it will be really easy to implement. Otherwise I suggest two filters. A strict one and a loose one.

The simple one will be a more strict (but we can use the suggested "not-filter" from @pnrobinson

* inheritance only from mother
* Only affected can have the mutation
* No enforcement of inheritance from affected to mother child.

[2017-09-15 11:11] pnrobinson commented on #362
Given the fact that mitochondrial mutations can be present any where from 0-100% in some cell, I am worried that if we make the filter too strict we will have false negative results. Since there are only 37 genes involved, we are unlikely to get lots of false positives. Could we try to implement the really simple filter (mitochondrial gene) and see how things work?

[2017-09-16 13:11] pnrobinson commented on #362
I am going to make a branch called Mitochondrion. Please contact me if anybody else wants to work on this.

[2017-09-16 13:33] pnrobinson opened #363 "Bug in MendelianCheckerXRHom"
private boolean parentsAreCompatible(GenotypeCalls calls) {
final ImmutableSet<String> femaleParentNames = queryDecorator.getAffectedFemaleParentNames();
final ImmutableSet<String> maleParentNames = queryDecorator.getAffectedFemaleParentNames();

In this method the wrong function is chosen to get the maleParentNames.

[2017-09-16 13:58] pnrobinson commented on #362
I have added a new class in jannovar-core, in the package mendel.impl called InheritanceCheckerMT that implements the mitochondrial inheritance check. I have added corresponding constants and modifications to the classes ModeOfInheritance, SubModeOfInheritance and MendelianInheritanceChecker.

I tried to set up a test class called InheritanceCheckerMTSinglePersonTest

however, I was then not able

[2017-09-16 14:59] pnrobinson opened #364 "import de.charite.compbio.jannovar.hgvs.parser.Antlr4HGVSParser.*"
In branch Master there does not seem to be a class that corresponds to
import de.charite.compbio.jannovar.hgvs.parser.Antlr4HGVSParser and this is causing a compile error.

[2017-09-18 07:29] holtgrewe opened #365 "Upstream/downstream not flagged as OffExome"

[2017-09-18 14:05] visze commented on #364
This class is automatically generated via Antlr.

If you run `mvn package`

you will find the file under: `jannovar-hgvs/target/generated-sources/antlr4/de/charite/compbio/jannovar/hgvs/parser`

[2017-09-18 16:06] pnrobinson commented on #364
Ah! sure, I did not think of this and was using an intellij build. Works fine now.

[2017-09-18 16:06] #364 closed

[2017-09-18 16:36] pnrobinson commented on #362
@visze @holtgrewe  I have just checked in the test class InheritanceCheckerMTSinglePersonTest and InheritanceCheckerMTSmallTest
I am uncertain how to connect this with the rest of Jannovar, please give input!

[2017-09-19 10:05] julesjacobsen commented on #362
Do you mean how to open a pull request to get this merged in?

By the way - a stylistic point for using the Streams API with Boolean functions:

In InheritanceCheckerMT [lines 47 and 49](https://github.com/charite/jannovar/blob/d6d22eb19e441c873ac40612f99751aa2afbb94c/jannovar-core/src/main/java/de/charite/compbio/jannovar/mendel/impl/InheritanceCheckerMT.java#L47-L49)

[code]

The Boolean return

[2017-09-19 10:10] holtgrewe commented on #362
IMO, returning a predicate adds and unnecessary layer of complexity and the current implementation is stylistically better because it's simpler.

[2017-09-19 10:19] pnrobinson commented on #362
In answer to Jules, the code is finished locally and about ten test cases are passed, but I think some other places of the code need to be modified to be able to use mitochondrial filtering in the actual app. If somebody can give me a hand here, great, otherwise I can probably figure this out and will make a PR next week or so.

[2017-09-19 10:22] holtgrewe commented on #362
@pnrobinson I'll post a list of source locations that should be changed for this today or tomorrow.

[2017-09-19 10:25] visze commented on #362
And don't forget to modify the documentation/manual an changelog

Am 19.09.2017 12:22 schrieb "Manuel Holtgrewe" <notifications@github.com>:

@pnrobinson <https://github.com/pnrobinson> I'll post a list of source
locations that should be changed for this today or tomorrow.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/char

[2017-09-20 08:26] visze commented on #363
Thx for finding that. I took a closer look and it seems that the wrongly written function had no effect at all.

1 ) Does this error filters out correct variants from affected females because the parents were treated as parent of affected mails?
  -> No! The checks in second part (when it checks the maleParentNames) are included in the first part. So it failed within the  femaleParentNames .
2) Th

[2017-10-15 12:39] pnrobinson commented on #362
With the latest changes, the MT annotator appears to be working. I have checked the variants here
https://www.mitomap.org/foswiki/bin/view/MITOMAP/ClinicalPhenotypesPolypeptide using the hg38 UCSC data:

 $ java -jar jannovar-cli/target/jannovar-cli-0.23.jar annotate-pos -d data/hg38_ucsc.ser -c 'chrM:13514A>G'
$ java -jar jannovar-cli/target/jannovar-cli-0.23.jar annotate-pos -d data/hg38_ucsc.se

[2017-11-14 08:53] stolpeo opened #368 "Jannovar annotates a conflicting variant effect"
Jannovar annotates a conflicting variant effect: `start_lost&synonymous_variant`.

VEP using RefSeq classifies this variant as `start_lost`, `5_prime_UTR_variant`, `regulatory_region_variant` using the RefSeq transcripts.

[code]

[2017-11-14 10:08] visze commented on #368
Can you post the transcripts of vep with the corresponding annotation?

Am 14.11.2017 09:53 schrieb "Oliver" <notifications@github.com>:

[2017-11-14 10:12] stolpeo commented on #368
[code]

Is this information sufficient?

[2017-11-25 11:26] roland-ewald commented on #353
Hi Manuel,

Sorry this somehow slipped through the cracks. Let me know if you need any additional changes.

Best regards,
Roland

[2017-11-28 15:02] roland-ewald opened #372 "New feature: allow prioritization of chrX RefSeq transcripts in PAR"
## Problem

RefSeq transcripts of genes located in the pseudo-autosomal regions (PAR) on chrX and chrY have unique mRNA IDs in the GFF3 file provided by the NCBI, but only one of them can be included into Jannovar's `JannovarData` (as it contains a `Map<String, TranscriptModel>` that allows per-accession lookup, but that would have to be changed to `Map<String, List<TranscriptModel>>` etc., which

[2017-11-29 08:14] roland-ewald opened #374 "New Feature: simplify curation annotation transcripts"
## Problem
The current strategy of serializing `JannovarData` makes it hard to manually edit the available transcript data. For example, to improve annotation speed and memory footprint one could imagine to only use a certain subset of the default transcript sets, or to include certain historic (but now out-dated) transcript versions for validation and comparison to previous data sets. One could a

[2017-11-30 13:53] visze commented on #372
thx roland for highlighting this issue. We should definitely try to find a solution for this. And as you pointed out this might not be simple. Your proposed solution might work. I am not really a fan of Warnings to the users (because normally they will overlook them). But a **documented default behavior** with an option to change it sounds good to me.

Perfect that you already prepared a PR. That

[2017-11-30 13:57] visze commented on #363
closed through PR #366

[2017-11-30 13:57] #363 closed

[2017-11-30 14:00] visze commented on #374
+1

I guess this issue is related to #353

This will also help me in defining good test cases for the serous bug #361

[2017-11-30 14:01] visze commented on #356
now codacy forces people about implementing new code :-)

[2017-11-30 14:01] #356 closed

[2017-11-30 14:06] visze commented on #368
we  investigated this further and the difference between VEP and Jannovar is that one specific transcript is not present in Jannovar and @stolpeo forgott to print ALL effects with jannovar not the most tempting one.

But now the interesting question is, why we have the class `start_lost` AND `synonymous_variant` for ONE transcript!

Is this because we have the error: `WARNING_REF_DOES_NOT_MATCH_TR

[2017-11-30 16:03] roland-ewald commented on #374
@visze Great! Any preference regarding output format or naming of the commands? I'm seeing different pros and cons for any of the formats that come to mind (XML, JSON, CSV), but so far I would be leaning towards JSON.

[2017-11-30 16:10] roland-ewald commented on #372
@visze I agree regarding the warnings. One alternative implementation to the PR woukd be to explicitly define a chromosome order (preference) in case of multiple locations per transcript (right now this implicit in the ordering of the GFF features, something that a user may not be aware of), and then simply allow a re-definition of that order. This would be more general than my implementation, but

[2017-11-30 17:22] pnrobinson commented on #374
agree with JSON

[2017-11-30 20:17] pnrobinson commented on #372
There are  genes with multiple copies on other chromosomes for which similar issues apply--multiple locations per transcript. I think mainly these are nc genes. Also, as the new genome build becomes more established, there will be about 1000 genes with locations on alternate scaffolds. It would be good to figure out a general strategy for dealing with this.

[2017-12-01 17:52] roland-ewald commented on #372
@pnrobinson thank you for your input! These are very good points.

Given this situation, I suggest that I re-work the PR to:
- make `contigOrder` an option that can be specified for any data source (not just RefSeq)
- document that `contigOrder` will be defined per default as: `chr1, .., chr22, chrX, chrY, chrM` (however, this will change the default behavior of jannovar when using RefSeq GFF file

[2017-12-01 17:53] roland-ewald commented on #374
@pnrobinson great; this should be fairly straightforward. I will try to prioritize this as it seems to be helpful for other issues (#361, or testing #372).

[2017-12-14 16:43] martenj opened #381 "Jannovar gets stuck with SV variant"
Jannovar version: 0.23
VCF-creation tool: Delly 0.7.7
species: human GRCh37

jannovar gets stuck forever when running into the following variant:

[code]
This SV lays intronic to RAD54L2 (isoforms: UCSC 2; RefSeq 4).

best.
Marten

[2017-12-21 09:08] visze commented on #362
See # #379

[2017-12-21 09:08] #362 closed

[2017-12-21 09:24] visze commented on #368
OK this annotation is strange but correct!

The problem is, that the reference has at this position a G! The RefSeq transcript has at this position a T. So from a transcript point of view we do not have any variant. That's why Jannovar calls a `synonymous_variant`. From the reference Point it is a `start_lost`. So the warning `WARNING_REF_DOES_NOT_MATCH_TRANSCRIPT` should taken to be serious.

To

[2017-12-21 09:24] #368 closed

[2017-12-21 09:32] visze commented on #381
I tried the actual development version and it seems to run fine. I used the database `hg19/refseq`. Should use something different?

Here is my command:

[code]

output:
[code]

[2018-01-04 16:14] visze commented on #381
@martenj Can you help me to solve this?

[2018-01-05 23:22] jianl opened #387 "HGVS to VCF test failed"
On macOS Sierra 10.12.6
Running HGVS to VCF test as suggested in the manual
```java -jar jannovar-cli-0.23.jar hgvs-to-vcf -d data/hg19_refseq.ser -i examples/small_hgvs.lst -o examples/small_hgvs.vcf -r ~/work/ref/hg19/hg19.fa```

and failed with error message
[code]

[2018-01-08 09:00] visze commented on #387
Hi jiani!

thank you for this issue. The only problem is, that I cannot reproduce this error. I tried the same with the actual development version and the test version. Both run trough and I get the output:

[code]

[2018-01-08 20:25] martenj opened #388 "Non HGVS conform output for hg38/ensembl"
The HGVS annotation of the ensembl database is not sufficient.
For the command: `
java -jar -Xmx4G jannovar.jar annotate-pos -d data/hg38_ensembl.ser --show-all -c "chr17:30995000C>T" `
you will get the following output:
[code]
where the trancript accession numbers are missing the release version, which is not HGVS annotation conform / recommondation.
From this it's not clear which version of the

[2018-01-09 06:45] jianl commented on #387
Hi visze,

Thanks a lot for your reply.

I do have fai index for the reference. To make sure I got it right, I re-downloaded samtools-1.6
http://www.htslib.org/download/

installed it, and ran faidx on the reference again. I also made a soft link "hg19.fai" to "hg19.fa.fai" to make sure it can be recognized.

However, I still got the same error
"Query asks for data past end of contig"
Please advic

[2018-01-10 16:21] #358 closed

[2018-01-10 16:28] holtgrewe commented on #388
Do you see GRCh37 as also affected?

[2018-01-11 16:48] visze commented on #387
Okay. But it seems to be a problem of the reference file. The error comes from the htslib and not directly from jannovar.

So it seems that that your reference fasta is maybe corrupted. One sequence of a contig is to short. Can you run the command:
[code]
to show the contigs that are present in the fasta file. Maybe you can count also the number of nucleotides for chromosome 1. The sequence should

[2018-01-16 01:49] jianl commented on #387
hm, I think I might know what the problem possibly is. The hg19.fa I have was downloaded years ago, and for each contig it is in the format of 50b per line. Is that format not accepted by jannovar?

[2018-01-16 14:17] visze commented on #387
No this this should not be a problem.

Can you run the previous command I posted. And then also this one:
[code]

(if `chr1` is your contig 1; otherwise replace `chr1` with `1`)

[2018-01-16 19:55] jianl commented on #387
results for $ cat ~/work/ref/hg19/hg19.fa | grep ">"

and $samtools faidx ~/work/ref/hg19/hg19.fa "chr1:879317-879317" "chr1:879482-879482"

C

G

[2018-01-22 15:40] visze commented on #387
great! Thank you!
But now I have no clue anymore :-( You reference seems to be fine. You can try to download them again. But now I am not sure if this solves the issue.

How did you receive or generate the `jannovar-cli-0.23.jar` file? Maybe you can try to use the actual `0.24` release. But I am still not sure if this will help.

[2018-01-25 02:07] zhenyisong opened #389 "how to define the new data source for the hgnc_complete_set.txt?"
I used the following command to generate the serialized file for hg38.

`jannovar download --data-source-list ~/data/sourcecode/core.facility/GWAS/hg38.ini -d hg38/refseq`

However, during the processsing, the script above talked to  other address ( ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/tsv/hgnc_complete_set.txt). This file seemed to be beyond reach under certain rule, the reason is unko

[2018-01-31 06:40] zhenyisong commented on #389
Sovled. Users can save the required annotation files in the downloaded folder. The downloading module of Jannovar will check the exist of these files and determine whether perform download task.  If all required files are present, then the program will generate the corresponding 'ser' file for the next step.
However, there was memory limit error even I configured the JAVA_TOOL_OPTIONS.

`JAVA_TOOL

[2018-01-31 06:40] #389 closed

[2018-02-14 19:11] holtgrewe opened #390 "Have to escape dbNSFP fields"
VCF does not allow whitespace.

- `DBNSFP_MutationTaster_AAE=first 1 AA missing`

should become

- `DBNSFP_MutationTaster_AAE=first%201%20AA%20missing`

[2018-02-21 10:53] xiamaz commented on #387
I am currently also trying to run this test. The process runs though, although I am getting different vcf results, than the ones in readthedocs.
My results for the hgvs sequences:
[code]
are
[code]
These are generated using this command:
`java -jar jannovar-cli-0.24.jar hgvs-to-vcf -d data/hg19_refseq.ser -i small_hgvs.lst -o small_hgvs.vcf -r human_g1k_v37.fasta`
I have generated faidx and dict u

[2018-02-21 15:25] visze commented on #387
@xiamaz can you open a new issue with your post?

[2018-02-23 15:59] xiamaz opened #393 "HGVS to VCF result different from documentation."
I first posted this in #387.

I am currently trying to use the conversion between hgvs and vcf and am trying to use the example provided in the documentation. The process runs though, although I am getting different vcf results, than the ones in readthedocs.
My results for the hgvs sequences:
[code]
are
[code]
These are generated using this command:
`java -jar jannovar-cli-0.24.jar hgvs-to-vcf -d

[2018-02-23 19:35] visze commented on #393
Hi xiamaz

thx for finding this issue. It seems that the manual does not show the example HGVS codes present in the repository. Your result seems to be correct. I created a PR #391 to fix this issue in the manual.

[2018-03-02 13:18] messersc opened #396 "Amino acid codes are always three letters"
Hi,

I noticed that amino acid codes are always three letters, no matter if you specify `--3-letter-amino-acids` or not. I am using Jannovar 0.24 from conda.

[code]

[code]

### Expected behaviour

I would expect one letter amino acid codes when not setting `--3-letter-amino-acids` .

[2018-03-05 10:11] GSalma opened #397 "HGVS to VCF conversion reference sequence error"
Correct HGVS codes giving an error because of wrong reference sequence retrieved:

Example : NM_020732.3:c.3919C>T

Error : WARN Invalid reference nucleotides in 6:g.157517355C>T, should be T, auto-correcting.
Exception in thread "main" java.lang.IllegalArgumentException: Duplicate allele added to VariantContext: T

[2018-03-05 13:23] holtgrewe opened #398 "FORMAT/PR flag not set for child"
only for parent?

[2018-03-07 11:57] pnrobinson opened #399 "Problem with latest Ensembl releases"
Issue by @damiansm on Exomiser tracker

https://github.com/exomiser/Exomiser/issues/253

(i) Jannovar fails to generate a .ser file with the latest Ensembl releases as the cdna file contains versioned Ensembl IDs and the other files don't
(ii) Jannovar uses the latest version of the HGNC file download to assign other IDs including the critical entrezGene IDs to each ENSG based entry in the .ser fi

[2018-03-13 07:22] holtgrewe commented on #390
HTSJDK even dislikes `%20`, using `_` instead.

[2018-03-13 16:19] visze commented on #393
PR #391 closed this issue

[2018-03-13 16:19] #393 closed

[2018-03-13 16:30] visze commented on #397
Hey

I tried it with the actual development version (v25-SNAPSHOT). I do not get the error! And the result in the VCF seems to be fine.

[code]

Then I tried it with the actual version (v24) and I can reproduce your error.

I think this is because happens because of a bug in the actual version retrieving the wrong contig of the reference sequence. This is fixed in the actual development (see PR #3

[2018-03-13 16:30] #397 closed

[2018-03-13 16:59] visze commented on #396
HGVS (see http://varnomen.hgvs.org/recommendations/general) claims to use the three letter code as "preferred" option. We will use the one letter code as default with the additional `--3-letter-amino-acid` command.

So you are right. jannovar does not act like expected

[2018-03-14 15:06] #390 closed

[2018-03-27 13:13] jasiozaucha commented on #307
I would find this feature very useful as well. Please let me know when it's implemented.

[2018-04-06 15:17] bpow opened #402 "hg38 datasets in default_sources.ini point to inactive links"
The hg38 datasets point to links (like ftp://ftp.ncbi.nlm.nih.gov/genomes/H_sapiens/Assembled_chromosomes/chr_accessions_GRCh38.p7 ) that are no longer present on NCBI servers (as of about 2018.03.31).

These either need to be changed to reference the current files (which are at patch level 12)-- eg `s/GRCh38.p7/GRCh38.p12`, *or* the .p7 files should be referenced from the ftp://ftp.ncbi.nlm.nih.g

[2018-04-09 02:10] bpow commented on #402
The RefSeq rna.fa.gz header line format has changed (again... see #353), so the newest annotation relase (version 109, based on GRCh38.p12) until this is addressed. #403 or #404 would suffice.

[2018-04-13 13:45] visze commented on #399
I think this is related to #388

[2018-04-13 13:50] visze commented on #402
good catch. I think we should fix this ASAP!

I will use the archive version first. Here we do not have to change the parser. But we should definitely address the new version and the new header.

[2018-04-13 14:01] visze commented on #402
reading now trough #371, #403 and #404. I am a bit lost :-)

[2018-04-13 14:07] bpow commented on #402
The confusion is all my fault...

The short version is that #403 builds upon/supplants #371 with a method that identifies the format by the initial string on a header line, and #404 is an alternative that recognizes all of the same formats using a regular expression. I don't feel strongly about one approach or the other, just wanted to point out both possibilities.

So, the options are #403 xor #4

[2018-04-13 14:27] visze commented on #402
I will go for #403 because the changelog is documented :-)

[2018-04-16 12:13] visze commented on #402
PR #403 closes this issue

[2018-04-16 12:13] #402 closed

[2018-04-16 12:14] visze commented on #396
see next release

[2018-04-16 12:14] #396 closed

[2018-04-24 20:27] visze opened #406 "Release jannovar version 0.25"
Please make a new release to fix the sources.ini file. Right now refseq GRCh38 does not work!

[2018-04-26 06:53] #406 closed

[2018-04-26 11:15] xiamaz opened #407 "Run jannovar as a server"
Is it possible to run jannovar as a server for converting a large number of hgvs strings to VCF?

Currently jannovar has to be initialised anew for every new set of hgvs strings, which greatly impacts performance.

[2018-04-26 11:36] holtgrewe commented on #407
This has not been implemented yet but you can write one using Jannovar as a library.

[2018-04-26 13:11] xiamaz opened #408 "HGVS translation of delins fails with missing reference"
Jannovar fails to generate an VCF if the supplied HGVS string describing an indel variant does not contain the reference sequence, although it is an valid HGVS annotation.

For example the following sample can be used to generate an VCF against hg19
[code]

But the following results in an erroneuos vcf:
[code]

[code]

[2018-04-26 13:49] visze commented on #353
is now in version v25!

[2018-04-26 13:49] #353 closed

[2018-04-26 14:54] xiamaz commented on #408
We are using jannovar version 0.25.

On 26.04.2018 16:21, Max wrote:

[2018-04-27 11:12] la60312 opened #409 "Can't annotate CADD scores from dbNSFP"
Dear Jannovar,

I would like to annotate VCF file with dbNSFP3.5. However, there was an error while annotating CADD score. The version I used is Jannovar 0.25.

I used this command to annotate CADD_phred.
[code]

I got this error.
[code]

I checked this page and I found the string "CADD_phred" is in the list, but it seems like you didn't run builder.put() with CADD scores. I also checked SIFT_scor

[2018-05-03 10:00] mutundis commented on #387
I had this problem too and solved it by using a GRCh37 assembly reference file (with chromosomes named  "1" rather than "chr1" etc) instead of an hg19 assembly reference file (which is what you have).

[2018-05-09 18:18] visze opened #410 "0.25 release not compete"
master is still on 0.24!!

[2018-05-10 23:06] jianl commented on #387
Interesting ... thanks @mutundis!
I think then it should be named accordingly to GRCh37 instead of hg19.

[2018-05-20 12:11] pnrobinson opened #411 "HGVS to VCF error. ANTLR version mismatch?"
I would like to reverse-annotate some HGVS encoded mm10 variants. I created a FAI and a dict file for mm10.fa and entered the following command
[code]
My HGVS file was like this
[code]

I got the following error:
[code]

Jannovar does not compile with antlr v 4.6 (I tried to change this in the pom file). I am unsure where this error is coming from?

[2018-05-20 12:40] holtgrewe commented on #411
It looks like your hgvs is not valid. You use amino acid syntax for coding sequence variants. Does c.729A>T work?

[2018-05-20 12:50] pnrobinson commented on #411
whoops, of course --however, that does not seem to be the cause of the error

[code]
[code]

[2018-05-23 17:03] holtgrewe commented on #411
I think the Antlr complaint is just noise.

Here is the signal:

[code]

I think the HGVS specification asks for versioned transcripts, so you have to specify the transcript version, e.g., `NM_026273.2`.

- http://varnomen.hgvs.org/bg-material/refseq/

HTH

[2018-06-07 15:02] pnrobinson commented on #411
Thanks, I can confirm your diagnosis -- the problem was the fact that the version number was missing from the HGVS string.

[2018-06-07 15:02] #411 closed

[2018-08-21 18:59] CarlosBorroto opened #412 "Disabling ANN field escaping doesn't work"
I'm trying to use the `annotate-vcf` argument `--no-escape-ann-field`. However, the `ANN` field is still getting escaped.

Looking at what I think is the relevant code I see a hard-coded `true` value is been used.
https://github.com/charite/jannovar/blob/develop/jannovar-core/src/main/java/de/charite/compbio/jannovar/annotation/Annotation.java#L295-L297

I confirmed switching it to `false` outputs

[2018-08-24 08:37] #410 closed

[2018-08-24 08:37] holtgrewe commented on #409
Hi, no, this is currently a limitation in dbNSFP support.

[2018-08-24 08:39] holtgrewe commented on #387
Please reopen if this persists.

[2018-08-24 08:39] #387 closed

[2018-08-24 08:40] holtgrewe commented on #361
@visze Is this resolved?

[2018-08-24 08:46] holtgrewe commented on #365
Closing as invalid.

[2018-08-24 08:51] holtgrewe commented on #412
Fixed in e3760238f180fff4b06d96500293a092a637aad5, will be part of next release.

[2018-08-24 08:51] #412 closed

[2018-08-24 08:52] visze commented on #361
No. I tried to fix it. But it seems to get really complicated!

Am Fr., 24. Aug. 2018 um 10:40 Uhr schrieb Manuel Holtgrewe <
notifications@github.com>:

[2018-08-24 09:02] holtgrewe commented on #408
The error on the console is

[code]

The issue is that the parser does not correctly check whether the deleted nucletoides are given.

[2018-08-24 09:07] holtgrewe commented on #408
Good catch, the indel tests were testing deletions only.

[2018-08-24 09:49] holtgrewe commented on #408
Fixed in d67c1851, will be part of next release.

[2018-08-24 09:49] #408 closed

[2018-08-24 09:50] #365 closed

[2018-09-18 10:30] k-tipp opened #415 "Download hg38/ucsc"
**Executable**:
jannovar-cli version 0.26 from [here](https://search.maven.org/search?q=jannovar)

**Commands:**
`java -jar -Xmx16000m -Xms3000m -d64 jannovar-cli-0.26.jar download -d hg38/ucsc`
and
`java -jar -Xmx16000m -Xms3000m -d64 jannovar-cli-0.26.jar download -d hg38/ensembl`

**Exception:**
[code]
**Reason:**
The file ftp://ftp.ncbi.nlm.nih.gov/genomes/H_sapiens/Assembled_chromosomes/chr_a

[2018-10-01 09:12] visze commented on #415
Hi k-tipp,

thank you for finding that issue and sorry for the really late answer. We forgot to update the genome build from p7 to p12 for ucsc and ensembl

You can download it by using your own `.ini` file with the corrected paths. Please download this file:
https://github.com/charite/jannovar/blob/develop/jannovar-cli/src/main/resources/default_sources.ini
and change all text with
`ftp://ftp.ncb

[2018-11-08 10:16] pnrobinson opened #416 "Jannovar versioning"
The current version of the master branch is 26-SNAPSHOT.
I am wondering if the master branch shouldn't be constrained not to have the SNAPSHOT tag.
e.g., https://stackoverflow.com/questions/5901378/what-exactly-is-a-maven-snapshot-and-why-do-we-need-it

[2018-11-13 14:01] iimpulse commented on #416
Also.. Maven central is 0.27. It's a bit confusing landing on the github page and seeing a different version both in commits and readme. Is master the most recent branch? If not setting develop as default might be desired.

[2018-11-14 18:10] holtgrewe commented on #416
I'm sorry. Should be fixed now.

[2018-11-14 18:10] #416 closed

[2018-11-14 18:21] holtgrewe opened #417 "Variant annotation with empty transcript"
`chrom=16, pos=57095834, ref=T, alt=TAAGAAAAAAAGA` leads to annotation without transcript

[2018-11-21 14:38] pnrobinson opened #418 "structural variants"
Add support to Jannovar for structural variant calls in VCF files.
Support calls such as will emerge from MANTA:
https://github.com/Illumina/manta/blob/master/docs/userGuide/README.md#manta-vcf-reporting-format
Note that MANTA is currently VCF 4.1, but the latest version is 4.3 -- Jannovar should support also 4.3

[2018-12-10 19:09] pnrobinson opened #420 "Logic of getFivePrimeUTRInterval"
There are many cases where the 5'UTR also includes an intron. Therefore, either we should return a List<GenomeInterval> or we should mention in the documentation that the function returns an interval that potentially includes an intron.
[code]

[2018-12-10 20:19] holtgrewe commented on #420
I agree that the API is a bit sparse here but the 5' UTR function is consistent with getting the transcript or CDS **genomic** regions. You would then have to check for overlaps with intronic and exonic regions.

Some `GenomeInterval` arithmetics might come in handy here, I agree.

[2018-12-13 17:19] iimpulse commented on #420
I am writing a library that leverages jannovar to do this functionality. Once complete I can open a PR.

[2019-01-29 14:08] pnrobinson opened #421 "java 11"
Should we be thinking about providing support for Java 11? I am guessing that most software that uses Jannovar is still Java 8, but that many or even most groups (including our own) and planning on moving to Java 11 in 2019.

[2019-01-29 16:12] pnrobinson commented on #421
Java 11 is 99% backwards compatible, and I do not see any big problems. It can be faster and better with GC, although it is hard to predict how much. I am currently using the Java 11 compiler at level 8 for some projects, but have not yet begun to really take advantage of some of the interesting new constructs (e.g., var is like C++ auto and there is an interesting module system that would allow b

[2019-01-30 07:09] holtgrewe opened #424 "Apply Google style Java formatting throughout project"
@roland-ewald @julesjacobsen

We plan to apply and enforce automatic Google style Java formatting throughout the project. We'll try to get the current PRs merged before this. Make sure to scream loudly in case you have local branches that you intended to merge at some point.

[2019-01-31 09:50] julesjacobsen commented on #424
So long as this happens post PR-merge, that's fine. Thanks for the forewarning!

[2019-01-31 09:54] holtgrewe commented on #424
@julesjacobsen did you see that I merged your changes in another PR?

[2019-01-31 09:57] visze commented on #420
@iimpulse Just a warning about the code style that will be changed: See #424 How far you are with your work? When do you plan the PR?

[2019-01-31 09:59] roland-ewald commented on #424
@holtgrewe thanks for the heads-up; no problem from my side.

[2019-01-31 10:03] holtgrewe commented on #420
@visze I think @iimpulse wants to write a library *using* Jannovar?

[2019-01-31 10:43] julesjacobsen commented on #421
and there are new immutable collections via ```List.of()``` and ```Set.of()``` like Guava. New HTTP2 support, Reactive streams support (Java 9), the Module system (Java 9), the language release name e.g. 1.8 -> 9 -> 10 -> 11! New release schedule with LTS releases every 2 years.  JVM licencing changes (beware!) too.

https://www.oracle.com/technetwork/java/javase/9-relnote-issues-3704069.html
http

[2019-01-31 14:11] iimpulse commented on #420
@visze @holtgrewe I am writing a library using jannovar, but it would be nice to have some of this functionality rolled up into jannovar. I think this mostly depends on the long-term outlook of jannovar and whether or not this library has an intended use of being an api/library or a cli packaged application.

None the less..  I will start enforcing google coding style standards.

[2019-02-01 06:48] holtgrewe commented on #420
@iimpulse Please note that we actually decided following IntelliJ Java standard wrapped comments for Jannovar code.

For me, the main focus is features/usability as a library and exposing most of this functionally through CLI.

[2019-02-01 11:03] holtgrewe commented on #420
I needed this for SV annotation, 6ec9303e has a function and tests.

[2019-02-01 11:15] #420 closed

[2019-02-01 21:39] iimpulse commented on #420
https://github.com/charite/jannovar/blob/512476a46a0260101396909942ea77dda33d75f4/jannovar-core/src/main/java/de/charite/compbio/jannovar/reference/TranscriptSequenceOntologyDecorator.java#L57

Might be confusing to future contributor, this is the utrLength including introns.. consider adding a comment mentioning something to that effect. The true length of the utr would be the sum of the intersec

[2019-02-07 12:45] holtgrewe commented on #418
See #428. Regarding VCF v4.3, HTSJDK does not support it. Also see https://github.com/broadinstitute/gatk/issues/2092

[2019-02-07 12:45] #418 closed

[2019-02-07 12:46] holtgrewe commented on #421
Don't forget https://aws.amazon.com/corretto/.

Current Travis CI should have all currently supported Java versions starting from 8. Right now, I don't see a reason to move forward with Java for Jannovar as a library. Any user is free to use Java 11+.

[2019-02-07 12:46] #421 closed

[2019-02-07 12:48] holtgrewe commented on #141
#428

[2019-02-07 12:48] #141 closed

[2019-02-07 12:48] holtgrewe commented on #97
#428

[2019-02-07 12:48] #97 closed

[2019-02-07 12:50] holtgrewe commented on #307
Postponing, will welcome tested contributions.

[2019-02-07 12:54] holtgrewe commented on #347
Fixing comment in #429. Note that this function returns a multimap, thus all transcripts for any gene symbol are returned.

[2019-02-07 12:54] #347 closed

[2019-02-07 13:09] pnrobinson commented on #307
If this is still open I will work on this.

[2019-02-07 13:12] #354 closed

[2019-02-07 13:14] #372 closed

[2019-02-07 13:15] holtgrewe commented on #374
FWIW, the SV support will add limiting database building to certain genes/transcripts only.

[2019-02-07 13:15] pnrobinson commented on #307
@ielis we have some of this functionality in other code. Can it be transferred easily to Jannovar as library code?

[2019-02-07 13:15] holtgrewe commented on #374
We'll happily accept a tested PR but I'm flagging this as backlog as the ticket has been dormant.

[2019-02-07 13:16] holtgrewe commented on #381
Please reopen if the proplem persists.

[2019-02-07 13:16] #381 closed

[2019-02-07 13:18] pnrobinson commented on #374
@julesjacobsen -- is there a protobuf serialization of JannovarData objects? Could that be adapted to this purpose?

[2019-02-07 13:20] holtgrewe commented on #424
Giving up on this.

[2019-02-07 13:20] #424 closed

[2019-02-07 13:39] julesjacobsen commented on #374
@pnrobinson naturally....
https://github.com/exomiser/Exomiser/blob/master/exomiser-core/src/main/proto/jannovar.proto
https://github.com/exomiser/Exomiser/blob/master/exomiser-core/src/main/java/org/monarchinitiative/exomiser/core/genome/jannovar/JannovarProtoConverter.java

It doesn't compress as well, but its about 2x faster to read. This will also serialise to/from JSON using the protobuf lib.

[2019-02-07 14:46] holtgrewe commented on #415
Fixed in 96e57b9f / develop.

[2019-02-07 14:46] #415 closed

[2019-02-07 15:01] pnrobinson commented on #374
@roland-ewald @holtgrewe thoughts on adding protobuf serialization to Jannovar (which get's us JSON nearly for free).

[2019-02-07 15:05] roland-ewald commented on #374
@pnrobinson @holtgrewe I think using protobuf here is a great idea.

JSON support will make integration testing (and, if necessary, versioning transcript sub-sets) much nicer, but does not necessarily have to be very fast IMHO.

[2019-02-07 15:44] holtgrewe commented on #388
Fixed in 2c8734dfb3bb0f91f44eef1bbc62efecc1e91c15 but only when transcript version is available (not for GRCh37...)

[2019-02-07 15:44] #388 closed

[2019-02-07 15:50] holtgrewe commented on #417
Not reproducible.

[2019-02-07 15:52] holtgrewe commented on #399
@julesjacobsen Can you boil this down into a simple example "this is what Jannovar does and this is what it should do"?

[2019-02-07 16:21] holtgrewe commented on #399
OK, I'm getting (1) now. Working on a fix...

[2019-02-07 16:53] holtgrewe commented on #399
Fixed (1) in 1a2bb217.

[2019-02-07 17:14] damiansm commented on #399
Thanks Manuel.

Do you understand the other one: (ii) Jannovar uses the latest version of
the HGNC file download to assign other IDs including the critical
entrezGene IDs to each ENSG based entry in the .ser file. The ENSG ID used
for a gene can vary between latest HGNC and the version of Ensembl
downloaded leading to no entrezId when running Exomiser and no phenotype
matching at ll

Essentially f

[2019-02-07 17:33] holtgrewe commented on #399
Funny thing, I get it now e.g., `WHAMMP3` has `ENSG00000276141` in GRCh38 and `ENSG00000187667`  in GRCh37 of ENSEMBL release 95!

I'm a bit reluctant to use gene symbols for matching genes by symbol. I'd prefer to use [ecaballus_gene_ensembl__gene__main.txt.gz](ftp://ftp.ensembl.org/pub/grch37/release-95/mysql/ensembl_mart_95/ecaballus_gene_ensembl__gene__main.txt.gz)... I guess that's cool with

[2019-02-07 20:03] damiansm commented on #399
You want to use horse genes! ;-)

Make sure you use the hsapiens_gene_ensembl__gene__main.txt.gz  instead!

Are you going to use this instead of the hgnc file then?

On Thu, Feb 7, 2019 at 5:33 PM Manuel Holtgrewe <notifications@github.com>
wrote:

[2019-02-07 21:08] holtgrewe commented on #399
Haha, I already corrected it but the email sent out still said horse ;) Actually, I'd prefer aardvark ;)

What I plan to do is to use the ENSEMBL-provided ENGS-to-HGNC and then use the most current HGNC for mapping to Entrez etc.. This is based on the assumption that at least HGNC have stable IDs.

[2019-02-07 21:55] holtgrewe commented on #374
Hm, I think that we're facing [XKCD 927](https://xkcd.com/927/) here... I'd rather see a serialization to a minimal GFF or GTF sub set here than yet another standard. It's tempting to base it off what `TranscriptModel` looks like right now but in terms of portability it is not a big improvement over native serialization.

I would propose the following

1. Allow to import only certain genes or tran

[2019-02-08 08:53] roland-ewald commented on #374
That's a valid point. Your suggestions would solve the problem as well. I'm not sure (2) is necessarily part of this problem (although a faster deserialization is nice). Point (3) may not even need to include adjustments to the download tool (the CLI). From my perspective, an easy way of using non-serialized data (be it in GFF or JSON) seems to be more relevant in use cases that interact with the

[2019-02-08 10:38] julesjacobsen commented on #374
Can we put the faster de/serialisation discussion on hold for the time being. I'm happy with the situation as it is. Looking through the issues in FST there could be a couple of showstoppers, for instance there appears to be some odd behaviour using G1GC which is standard for Java 9+ The library looks great in principle, and is wonderfully simple to use (unlike protobuf), but I'm worried about pos

[2019-02-11 12:35] holtgrewe commented on #399
@damiansm @julesjacobsen Please confirm that #431 fixes the issue (`develop` should already work for you now).

[2019-02-11 15:50] holtgrewe commented on #361
Fixed in 6f6f8b4c

[2019-02-11 15:50] #361 closed

[2019-02-14 13:59] damiansm commented on #399
Hi @holtgrewe I did a new .ser build and tested on a bunch of cases I know and all looks pretty good except for one example where we ended up with no entrezGeneID in the Exomiser run and hence no phenotype match.

I was trying to work out how to pull out the entrezGene annotation from the commandline but failed. Maybe is just an API thing?

Anyhow the example is below. Previously I got a nice anno

[2019-02-14 14:33] holtgrewe commented on #399
@damiansm good catch.

The ground truth from ENSEMBL is here:

- https://grch37.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000272333;r=19:36208921-36229779;t=ENST00000222270

There is no mapping to HGNC...

Note the following text on the GRCh37 link.

Now looking at GRCh38 ENSEMBL of this ENSG

- http://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000272333;r=19:35718019-35

[2019-02-14 14:36] holtgrewe commented on #399
OK, it's `hsapiens_gene_ensembl__ox_entrezgene__dm.txt.gz.bz2`. I'll look into this tomorrow.

[2019-02-14 14:50] damiansm commented on #399
Thanks @holtgrewe . Mapping IDs sucks! Glad you are managing to find a use for the Ensembl BioMart tables I created in a previous life at least :-)

Forgot to say a quick grep on my results seemed to show we have less results coming back with no entrezGene match with your new strategy so definitely better than my previous hack!

[2019-02-21 16:27] damiansm commented on #399
Hi @holtgrewe . Did you get a chance to check the above. Also is there an ETA for the next release. Just trying to decide how and when to do the Exomiser 12.0.0 release and this is one of our last issues now :-)

[2019-02-22 16:18] holtgrewe commented on #399
@damiansm I'll look into this next week.

[2019-02-25 17:01] holtgrewe commented on #399
Hi @damiansm please check #434 whether it works for you (I'll merge once the tests are through). Once this has been merged, I'll make the next Jannovar release.

The mapping order is now:

- if HGNC ENSG mapping exists, use it,
- else if ENSEMBL has mapping from ENSG to HGNC, use it,
- else if ENSEMBL has mapping from ENSG to Entrez, use it.

HTH

[2019-02-27 13:04] damiansm commented on #399
Hi @holtgrewe Tested and looks perfect now. Many thanks

[2019-02-27 15:42] julesjacobsen commented on #399
@holtgrewe one last request - can you set the logging level from info to debug for these [two lines](https://github.com/charite/jannovar/blob/368762d1730d543ac304a8d9f1fc0f1aaf952ed4/jannovar-core/src/main/java/de/charite/compbio/jannovar/impl/parse/ensembl/EnsemblParser.java#L117-L124):

[code]

Also when writing to the logger you don't need to create a ```new Object[]```, just add the values you

[2019-02-28 17:13] holtgrewe commented on #399
@julesjacobsen  sure. I'm having trouble rebasing and squashing your branches, maybe you could start your next PR from a clean upstream develop?

@damiansm thanks, will release now.

[2019-02-28 17:34] holtgrewe commented on #399
OK, released v0.28 through Maven central, might take some hours to work.

[2019-02-28 17:35] holtgrewe commented on #224
This will not work so easily with the large features now folded into jannovar-cli.

[2019-02-28 17:35] #224 closed

[2019-02-28 17:36] holtgrewe opened #437 "Make compatible with more recent versions of dbSNP"
Supporting something after b147 should not be too hard.

[2019-04-12 18:50] bpow opened #439 "splice region variant PutativeImpact: MODERATE vs. LOW?"
In Jannovar, a splice_region_variant has PutativeImpact of MODERATE (it is the lowest MODERATE impact SO term).

The putative impact table in the [ANN specification](http://snpeff.sourceforge.net/VCFannotationformat_v1.0.pdf), splice_region_variant is listed at LOW. The ANN specification lists this table as "suggested", so this difference does not "violate" the spec, but it is discordant from what

[2019-04-12 21:45] holtgrewe commented on #439
Interesting. Actually the document lists the `splice_region_variant` as both `LOW` **and** `MODERATE` [VEP](https://www.ensembl.org/info/genome/variation/prediction/predicted_data.html) lists it as `LOW`. If you look at the ANN spec, it mentions `splice_branch_variant` below which does not occur in the text above. VEP does not know about `splice_branch_variant`... I'd be willing to make it consist

[2019-04-13 02:26] bpow commented on #439
Ha! I hadn't noticed it was listed twice... too bad there isn't a repo with an issues list for the ANN specification :smile:

As for where this is in the VEP source, it is located in the ensembl-variation repo which is a dependency of VEP. Specifically in [Bio::EnsEMBL::Variation::Utils::Constants.pm](https://github.com/Ensembl/ensembl-variation/blob/70d2777fc85fc501513be5d6cad9024ef2b0f0e0/module

[2019-04-13 11:17] pnrobinson commented on #439
These categories are not a useful way of prioritizing variants in the splice region anyway, and we might as well be consistent with VEP.

[2019-04-23 21:32] gavinkurgan opened #441 "Issues building rat database"
Hello!

I appear to be having some issues building databases for use with Jannovar from RefSeq for Rat (Rattus norvegicus RN6). When running the following command:
`jannovar download -s my_refseq.ini -d rn6/refseq`

I get the following error:
[code]

It seems like it might be related to aliases, but I can't tell if it is a bug or if I am potentially missing something. Here is the config info I use

[2019-04-24 14:50] bpow opened #443 "Improve description of MNVs"
Acknowledging the limitations of PutativeImpact (discussed in #439), effect type of MNV gets putative impact of "HIGH". However, many MNVs (especially dinucleotide changes) result in synonymous changes, or missense changes and are unlikely to be all that deleterious.

MNV is a bit odd relative to the other effect types, since it describes the effect at a nucleotide level, while many (most?) of the

[2019-04-25 14:35] johanneskoester opened #444 "NullPointerException when annotating CNVs"
When annotating some CNV calls with
[code]

 I get the following exception:

[code]

The input file is
[code]

From a quick look at the source, it seems like gene_id is null?
Any help would be greatly appreciated.

[2019-04-26 12:15] visze commented on #439
closed by #442

[2019-04-26 12:15] #439 closed

[2019-04-26 16:18] gavinkurgan commented on #441
So as a follow up to this it appears that there was possibly a problematic name in the uncurated transcripts from refseq for rat (or maybe jannovar had an issue handling it?). I was able to complete the previous command simply by adding the following to the config:
[code]

It is still not clear to me if this was due to an issue with jannovar or the input files from NCBI. If it is due to the input

[2019-05-01 13:51] johanneskoester commented on #444
@holtgrewe I need this rather urgently. If you give me a hint, I can also try provide a PR myself.

[2019-05-01 18:23] holtgrewe commented on #444
@johanneskoester I will look at this on Thu or Fri.

[2019-05-03 13:17] holtgrewe commented on #444
Hi, it looks like only the UCSC transcript DB is affected. The problem are transcripts without gene ID. Fixing in 72543d0c63fb9b5378e438358fcba390b32cdfab.

[2019-05-03 13:17] #444 closed

[2019-05-03 13:34] holtgrewe commented on #441
Dear Gavin. Thanks for reporting this issue. I added the rn6 RefSeq and RefSeq curated. Fixed in 3eda8dd226177015338888969e05262ff2e3ac8b and this will be part of the next release.

[2019-05-03 13:34] #441 closed

[2019-05-03 13:36] holtgrewe commented on #443
Hi @bpow. We would welcome a patch that refines the processing of MNVs.

[2019-05-03 13:37] holtgrewe opened #446 "Annotate transcript version of ENSTs"
Currently missing.

[2019-05-03 13:52] holtgrewe commented on #446
Fixed in 01ad62a6.

[2019-05-03 13:57] #446 closed

[2019-05-03 14:07] holtgrewe opened #447 "Address RefSeq transcript misalignments"
RefSeq transcripts can align with indels and mismatches to the reference sequence. While mismatches could be argued to be non-critical (assuming the GenBank entries that the RefSeq transcript is based on is from healthy individuals), indels cannot.

For hg19, 884 transcripts in 501 genes are affected.

The following solution will be implemented:

- The `default_sources.ini` file gets a settings "f

[2019-05-03 14:18] johanneskoester commented on #444
Thanks a lot! Can we expect a new release soon?

[2019-05-03 14:51] holtgrewe commented on #444
Yes, after completing #447 which should not be too much work.

[2019-05-03 15:00] johanneskoester commented on #444
Great, thank you!

[2019-05-06 13:46] visze opened #449 "Travis: java-ea fails testimg"
Pull request fail on testing java-ea... Any suggestions?

[2019-05-06 14:52] holtgrewe commented on #449
Can you give the link to the travis build?

[2019-05-06 15:19] visze commented on #449
just look at all pull requests: #445 and #448

[2019-05-06 15:25] holtgrewe commented on #449
Probably we should disable the early access version as it appears to be too unstable.

[2019-05-06 15:52] visze commented on #449
it is now disabled.

[2019-05-06 15:52] #449 closed

[2019-05-06 19:44] gavinkurgan commented on #441
Awesome, thanks a lot!

[2019-05-07 07:05] holtgrewe opened #450 "Use correct alignments of RefSeq transcripts"
This is following up on #447.

Rather than using the UCSC alignments of RefSeq, proper alignments of the transcripts to the reference should be used.

Instead of performing our own realignments, we should rather use the UTA one:

- https://github.com/biocommons/uta/

[2019-05-07 07:06] holtgrewe commented on #374
@roland-ewald any news on this?

[2019-05-07 07:09] holtgrewe commented on #447
This approach for the resolution will work for now. A proper resolution will be done in #450.

@pnrobinson @julesjacobsen as ENSEMBL is not affected this will probably not be of super big interest to you

@roland-ewald I think this might be important for you to know

A good example is LTBP4:

- [UCSC](https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&lastVirtModeType=default&lastVirtModeExtraState=

[2019-05-07 13:25] holtgrewe commented on #444
OK, will start the release now before closing #447 as that turned out to be more complex than anticipated.

[2019-05-07 13:43] holtgrewe commented on #444
OK, released to Maven Central. It will take some time until it appears there and I can update the conda package.

[2019-05-07 15:50] johanneskoester commented on #444
Thanks a lot!

[2019-05-07 20:26] roland-ewald commented on #447
@holtgrewe Thank you for the heads-up, I'm aware of the issue. BTW besides the `Note` attribute there is also the `Gap` attribute in the `GFF` file which gives the exact position and structure of the mismatch between reference genome and transcript (for example, `Gap=M123 I1 M456` means after 123 matching nt the GFF region has one additional nucleotide that is not in the reference genome). It migh

[2019-05-07 20:30] roland-ewald commented on #374
@holtgrewe as there's some disagreement on the way to implement this and it's not really pressing, I suggest we close the issue for now (if you are OK with that).

[2019-05-07 20:37] holtgrewe commented on #447
ohhhh! thanks for this info

[2019-05-07 20:42] roland-ewald commented on #447
Sure, you're welcome!

[2019-05-08 03:25] holtgrewe commented on #447
After looking into this some more, I think the correct way is to use the alignments from the RefSeq file that are stored separately from the exons themselves. It is important to both capture indels in the local alignments themselves (the `Gap` attribute) and the boundaries of the alignments in the `Target` attribute.

For example, `NM_014747.2` does not have any record with a `Gap` attribute but t

[2019-05-14 21:24] mmcneill123 opened #451 "request to move hgnc_complete download to ini file"
Right now, the JANNOVAR tool has a requirement to download ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/tsv/hgnc_complete_set.txt
This path is hard-coded in the tool.
At my institution "ftp://" protocols are generally blocked. Would you be willing to move the source path for this file into the ini file so that I can change "ftp://" to "http://", which passed through our firewall?

[2019-05-16 14:48] mmcneill123 opened #452 "Bug in converting from hgvs ins/ dup into VCF"
Good morning,
I've been doing testing using JANNOVAR to convert variants from transcript-oriented HGVS format into genomic oriented VCF files.
My tests with deletions and SNPs have been successful, but I've gotten unexpected results with insertions and duplication. Would you please take a look at the two examples below?
I generated by expected result by manual interrogation of NCBI's genome browse

[2019-05-21 05:51] holtgrewe commented on #452
Using RefSeq, Jannovar currently only consider the mRNA sequence from RefSeq and not the reference genome. This needs to be changed, I guess.

[2019-05-21 05:51] holtgrewe commented on #451
Will be added to next release.

[2019-05-21 05:55] holtgrewe commented on #450
Duplicate of #447.

[2019-05-21 07:26] #451 closed

[2019-05-21 10:38] holtgrewe commented on #452
Will be fixed in next release.

[2019-05-21 10:38] #452 closed

[2019-05-23 07:23] #447 closed

[2019-05-23 07:23] #450 closed

[2019-05-24 09:13] julesjacobsen commented on #444
@holtgrewe regarding Maven central releases and visibility - the artefact is usually present as soon as you release it, however there is a lag before it is indexed and visible from search/ on the web. So you ought to be able to do a conda package straight away assuming this is simply referencing the maven package directly.

[2019-05-25 12:38] holtgrewe commented on #444
@julesjacobsen I'm referencing the ZIP as shown here.

https://github.com/bioconda/bioconda-recipes/blob/master/recipes/jannovar-cli/meta.yaml

I'd be happy to learn about a better way.

[2019-05-29 08:52] julesjacobsen commented on #444
I think this is the direct link:
http://repo.maven.apache.org/maven2/de/charite/compbio/jannovar-cli/0.31/

What time did you do the release? I assume the server timestamps are in GMT.

[2019-06-06 08:55] visze opened #456 "java.lang.NullPointerException"
I get a null pointer exception when I try to annotate the recent clinvar (hg38m, clinvar_20190603) version. I removed the contigs in the vcf header because they had no length (but I guess then this should still work). here is the error:
(jannovar load by bioconda, version 0.31)

[code]

[2019-06-25 10:13] julesjacobsen opened #458 "Annotation class returns undocumented nulls"
Annotation.getPutativeImpact()  and Annotation.getMostPathogenicVarType() can both return a null, yet there are no `@Nullable` annotations on these methods to enable code inspection tools to make the end-user aware of this hidden gem of excitement.

These stem from the `effects` field being an empty list:

[code]

could these be changed to return the lowest effect/impact:

[code]

Alternatively th

[2019-06-26 22:23] cmdcolin opened #459 "Quick-start documentation link broken"
https://doc-openbio.readthedocs.io/projects/jannovar/en/master/quickstart.html

"Download the current stable release from our GitHub project by clicking here."

Refers to the github releases but doesn't seem to be inserting the version number. Since I am looking at the master branch's readthedocs maybe that is the reason but this is navigable via google

[2019-07-03 13:55] visze commented on #459
Thank you for finding this issue. I fixed it in the actual development branch. It will be corrected in the next release.

[2019-07-03 13:55] #459 closed

[2019-07-03 14:00] visze opened #460 "read the docs does not build since v0.27"
I think there is an issue with readthedocs because it does not update itself. therefore links getting really old!

@holtgrewe can you add me to the RTD project as an developer. https://readthedocs.org/projects/jannovar

[2019-07-03 14:01] visze commented on #459
There is a general issue with RTD. It does not build newer versions. I created a new ticket for that: #460

[2019-07-19 00:22] mmcneill123 opened #461 "Issue building .ser database"
Good evening,

I'm hoping you can help me with an issue I'm having using Jannovar.0.31 with the Rat genome. Prior versions of Jannovar were able to build the rat genome.

I"m using the ini file below:

[rn6/refseq]
type=refseq
alias=MT,M,chrM
onlyCurated=True
chromInfo=http://hgdownload.soe.ucsc.edu/goldenPath/rn6/database/chromInfo.txt.gz
chrToAccessions=https://ftp.ncbi.nlm.nih.gov/genomes/R_nor

[2019-07-30 05:09] holtgrewe commented on #443
Hi @bpow are you interested in tackling this?

[2019-07-30 05:36] #456 closed

[2019-07-30 05:40] holtgrewe commented on #460
Added you as reviewer, tried to fix webhook.

[2019-07-30 05:40] #460 closed

[2019-07-30 05:45] #458 closed

[2019-07-30 05:50] holtgrewe commented on #461
Hi @mmcneill123 :wave: Thanks for reporting this. I can build the rn6 `.ser` file without any problems (see below) with the v0.33 snapshot, should also work in the v0.32 release. Also note that rn6 with your INI configuration is included in Jannovar since v0.29. HTH

<details><summary>Click to see log with 0.33-SNAPSHOT</summary>
[code]
</details>

[2019-07-30 05:50] #461 closed

[2019-07-30 05:51] holtgrewe opened #463 "RefSeq MT chromosome"
It's not built, at least not with `_curated`.

[2019-07-30 06:00] holtgrewe commented on #463
Non-curated is also affected.

[2019-07-30 08:40] #463 closed

[2019-08-13 21:02] mmcneill123 opened #464 "building the rat genome under v0.33"
Hi Manuel,

Thanks for taking a look at the rat genome database a couple of weeks ago. I've now tried to replicate your success, but I am unable to do so in full.
First, I tried building from version 0.32, and this built successfully.
[code]
Next, I tried to build it with 0.33
[code]
but the internal ini was missing the new faMT key. (Can you add this to the documentation?)

I next tried building

[2019-08-28 16:07] dulekb opened #465 "dup exon jumping"
I'm running into 5'/3' shifting issues with duplication events running Jannovar 0.33.  Annotating against the transcript NM_001291722.1 for the variant chr5:156721863T>TC Jannovar calls c.283dup/p.Gln95Profs*15.  The predicted effect is correct, but the variant call does not follow HGVS nomenclature.  The correct variant should be c.282dup.  The duplication is at the end of exon 4 where there are

[2019-09-04 15:35] iimpulse opened #466 "function naming in transcript model"
jannovar-core/src/main/java/de/charite/compbio/jannovar/reference/TranscriptModel.java#126

The function name doesn't make sense english wise. Please consider "hasSubstitution", removing "is".

[2019-09-04 15:37] iimpulse opened #467 "Release Notes"
Is there a place to review release notes for jannovar? It looks like classes are changing, and this is an integral part of my current application. It would be nice to know what broad overall changes happened so I could adjust accordingly.

[2019-09-05 21:05] daynefiler opened #468 "Java version check"
I was running into issues building the hg38/ucsc database under the following Java version:

    openjdk version "1.8.0_192"
    OpenJDK Runtime Environment (Zulu 8.33.0.1-linux64) (build 1.8.0_192-b01)
    OpenJDK 64-Bit Server VM (Zulu 8.33.0.1-linux64) (build 25.192-b01, mixed mode)

Creating a separate conda environment where I did not have frozen package constraints everything worked. **It wo

[2019-09-30 14:52] visze commented on #467
We are happy to hear that you use jannovar in your application. We try to log everything in the [CHANGELOG.md](https://github.com/charite/jannovar/blob/master/CHANGELOG.md) file since Jannovar v0.13. The history should also be accessible via the [documentation](https://doc-openbio.readthedocs.io/projects/jannovar/en/latest/history.html)

Since we have a jannovar version smaller than 1 we will not

[2019-09-30 14:58] visze commented on #466
yes this makes no sense in english but we are using a naming convention and therefore it is correct.

The helper function `isHasSubstitutions` returns the variable `hasSubstitution` and because it is a boolean it starts with `is`. For example if the variable `hasSubstitution` returns a String or a List the helper function will start with `get`. It looks maybe wired but there is a logic behind.

[2019-09-30 14:58] #466 closed

[2019-09-30 15:00] visze commented on #468
Thank you for the hint. I think we can integrate something like a java version check but I  think we will do this only in the command line interface

[2019-09-30 15:10] visze commented on #465
Which genome build do you use?

[2019-09-30 15:29] visze commented on #465
I think you are using hg19.

Thank you for that issue. I have to look deeper into that. But on a first look it seems that first is the nucleotide change and the second the protein change (two different things). Here we have a frame shift because of the insertion of one C. See [HGVS](https://varnomen.hgvs.org/recommendations/protein/variant/frameshift/). So `p.Gln95Pro` is the first amino-acid affe

[2019-09-30 15:51] visze commented on #464
Hi Matt!

sorry for taling so long for looking into this. This is absolutely important. Since 0.33 we have the new faMT annotation. But now it is required and it is only set for human and not for mouse, rat,.. maybe there is a species without it.

And yes. Documentation is missing! We have to do this!

@holtgrewe What was was you idea about genomes without MT and what happens with a missing faMT t

[2019-09-30 15:55] mmcneill123 commented on #464
Thanks!

[2019-10-01 00:00] #467 closed

[2019-10-02 07:39] holtgrewe commented on #468
@daynefiler Could you define "issues"?

[2019-10-02 07:40] holtgrewe commented on #464
@visze @mmcneill123 I can look into this next week (this week being pretty short in Germany)

[2019-10-02 08:47] visze commented on #464
It seems to be a lot of broken paths in the `default_sources.ini ` file. Right now I am checking everything, trying to fix every download. I am also adding the faMT file for all refseq annotations.

But this will be only a workaround because jannovar will not be able to annotate species that do not have a mitochondrion

[2019-10-02 09:38] visze commented on #464
I am getting the same null pointer also on mm9. Not on mm10!

[2019-10-02 10:22] daynefiler commented on #468
Sorry — by “issues” I mean I was getting long uninformative error messages.

[2019-10-09 09:10] abiadak opened #473 "Problem downloading mouse database"
I can't download any of mouse databases, I obtain the following error:
java -jar jannovar-cli-0.33.jar download -d mm10/ensembl
Options
JannovarDownloadOptions [downloadDir=data, getDataSourceFiles()=[bundle:///default_sources.ini], isReportProgress()=true, getHttpProxy()=null, getHttpsProxy()=null, getFtpProxy()=null, geneIdentifiers=[], outputFile=]
Downloading/parsing for data source "mm10/ense

[2019-10-09 10:02] visze commented on #473
Thank you for your ticket. Yes you are right. We have a lot of problems right now building transcript databases for two reasons:
* Lots of URLs changed and we need to provide the correct ones for download.
* We introduced with an improvement of human MT in version 0.33 annotation a horrible bug so that other species do not work properly.

I recently created a quick fix (see #472) for both issues.

[2019-10-09 10:34] abiadak commented on #473
Thank you very much for your quick response, I will test version 0.32. And yes, having the option of building own databases would be of great help for this kind of situations and for people who works with other organisms.

[2019-11-04 15:28] aschluter opened #474 "Bug: problem with projection! in jannovar-cli-033.jar"
I get an error with the following variant in hg19 assembly:

##fileformat=VCFv4.1
##contig=<ID=1,length=249250621>
#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	individual
13	114435823	.	T	G	431.31	.	.	GT:AD:DP:GQ:PL	0/1:17,10:27:21:21,0,395

The error:

Options
JannovarAnnotateVCFOptions [escapeAnnField=true, pathInputVCF=ClinPrior.vcf, interval=, pathOutputVCF=outputJannovar.vcf, pathVCFDBSNP=nu

[2019-11-05 09:55] aschluter commented on #474
It seems that is a problem with the hg19_refseq.ser file. When I annotate with the hg19_ucsc.ser the error disappears. This variant is out of range in Hg38 assembly but not in Hg19.

[2019-11-05 13:16] visze commented on #474
I get she same error on another VCF file (have to find the mutation which causes it). It is also refseq and hg19.

[code]

@holtgrewe any suggetsions?

[2019-11-05 13:51] visze commented on #474
it is wired. it only appears when using VCF file as intup. NOT if yousing `annotate-pos`

[2019-11-08 19:36] ielis opened #475 "String index out of bounds for variant GRCh37 `chr11:67258349AGCTGGACCCAGCC>GT`"
Hi guys,
I am using Jannovar v0.32 to perform variant annotation and I am getting an error when I try to annotate variant `chr11:67258349AGCTGGACCCAGCC>GT`.

When I run
[code]

I get the following output:
[code]

Any idea what's going on?

Thank you,
Daniel

[2019-11-12 09:03] visze commented on #475
I can reproduce the error.

Same problem in v.33 Only on ensemble on not in refseq

I have to take a closer look!

[2019-11-12 10:37] visze commented on #475
This error is resolved in the actual development. Basically in the PR #472

I think we should release a new bugfix version even if ensembl mouse is not resolved yet.  But before we have to tackle bug #474 This is right now blocking for me :-(

[2019-11-12 17:38] holtgrewe commented on #474
Hm, somehow we get a transcript position outside of the transcripts...

[2019-11-13 09:43] holtgrewe commented on #474
About 65 genes are affected but I think I know how to fix it.

[code]

[2019-11-13 10:40] holtgrewe commented on #474
[code]

[2019-11-13 10:42] holtgrewe commented on #474
OK, the problem appears to be in the projection for the transcript location (that falls out of the transcript), here in the case of long leading gaps. However, this is not actually used downstream anyway... Let me have another good look how to fix it.

[2019-11-13 11:38] holtgrewe commented on #474
Fixed in #477.

[2019-11-13 12:28] holtgrewe commented on #475
Hm, this is still open for me in `develop` but will be fixed by #478.

[2019-11-13 12:28] #475 closed

[2019-11-13 17:03] visze commented on #474
Works now for me in the new version!

[2019-11-18 12:49] Habush commented on #437
Hi, Is there any reason the recent versions are not supported? Do they have breaking changes compared to versions prior to 147?

[2019-11-19 15:51] aschluter commented on #474
Thanks for the fix. It works fine for Chr13:114435823 but I still have problems now for this variant (same error using updated hg19_refseq.ser):
1	148251986	rs199949374	T	G	2803.33	.	.	GT:AD:DP:GQ:PL	0/1:124,108:232:99:2816,0,3317

Exception in thread "main" java.lang.Error: Bug: problem with projection!
	at de.charite.compbio.jannovar.annotation.VCFAnnotationData.setAnnoLoc(VCFAnnotationData.java

[2019-11-21 12:00] visze commented on #474
Thank you for reporting! We have to dig deeper. it was not so easy to fix the previous issue and maybe we missed something.

[2019-11-21 12:01] visze commented on #473
now we have a new version (v0.34). Does it work for you now?

[2019-11-26 17:23] Habush opened #480 "Getting java.lang.InternalError while annotation with 1000 Genome Db"
I have this small code that I am testing to annotate a sample vcf file using 1000 Genome Db.

[code]
I have modified the `ThousandGenomesAnnotationDriver` constructor to accept a `VCFFIleReader` and `AlleleMatcher` objects instead of files

But when I run the above code I get the following exception:

[code]

How can I fix this?

[2019-11-27 15:22] wmgmm opened #481 "HGVS protein annotation error for deletions (may impact other mutation types e.g. ins)"
I found this for a number of deletions and insertions.

Depending on the deleted unit, the bases after the deletion may preserve the last wildtype amino acid, even while using a different codon, so the HGVS protein annotation produced by Jannovar is incorrect.

e.g.  NM_023110.2:c.165_171delTCGGCTG
VCF Format (hg19):
8	38287386	.	CCAGCCGA	C	.	.	.

Below is the sequence context, with deleted bases

[2019-12-20 20:22] akmit123 commented on #399
Hi, I downloaded jannovar-cli-0.34-0 (conda download) in a ubuntu linux in AWS and installed.
Although it does download for hg38  as .gtf file and other files from both ensembl or refseq but still does not convert them to .ser file!  Thus, I can not run/annotate the vcf file as it is telling that database file is not correct! Although documentation file (November 19, 2019) states that jannovar wou

[2019-12-21 12:21] holtgrewe commented on #399
Hi, please provide the full output of the download commands.

[2019-12-21 15:04] akmit123 commented on #399
command:
java -jar jannovar-cli-0.34.jar download -d hg38/ensembl
output:
-rw-rw-r-- 1 ubuntu ubuntu     1243 Dec 20 19:10 chr_accessions_GRCh38.p12
-rw-rw-r-- 1 ubuntu ubuntu     5092 Dec 20 19:10 chromInfo.txt.gz
-rw-rw-r-- 1 ubuntu ubuntu 14111559 Dec 20 19:10 hgnc_complete_set.txt
-rw-rw-r-- 1 ubuntu ubuntu 41862461 Dec 20 19:10 Homo_sapiens.GRCh38.91.gtf.gz
-rw-rw-r-- 1 ubuntu ubuntu 65088589

[2019-12-21 17:51] holtgrewe commented on #399
@akmit123 let me clarify: send me the output to stdout/stderr from the java call.

[2019-12-21 18:50] akmit123 commented on #399
Hi Manual,                     Thanks for your mail.
Here is the java call! One reason could be memory problem that I did not see earlier! I will increase the memory of the computer and download again. If it creates .ser file, I will let you know. Except memory problem, if anything else happening, please let me know.
Wishes,
Amit
ubuntu@ip-172-31-14-22:/opt/programs/wgs/ref$ java -jar /opt/program

[2019-12-22 17:41] zillurbmb51 opened #482 "ERROR: [ERROR] Input string for the chromosomal change"
Hello, I was trying to annotate a 6 column bim file using jannovar:
[code]
I am getting this:
[code]
Annotation of corresponding vcf works without error against same database. Any Help? Best, Zillur

[2020-01-04 13:13] akmit123 commented on #399
Thanks Holtgrewe, after increasing memory of the computer, Jannovar is running and giving the output file with annotated variants. However, for some file, but not all, program prematurely terminates and generate truncated output file. Although it seems to me benign because it terminates after generating most of the output file. However you may fix the bug in future.

Output after running commands:

[2020-01-09 22:34] mmcneill123 opened #483 "Translation of HGVS into VCF stalls when writing VCF file with some mutations"
Using jannovar v0.32 and hg38
Submitting NM_018136.4:c.1006_1008del or NM_018136.4:c.10006_10008del converts to output values. However, submitting NM_018136.4:c.1406_1408del hangs when writing to the output vcf file.

I get the following error logging information after "Opening output VCF file..."
`Exception in thread "main" java.lang.IllegalArgumentException: Negative position
        at sun.nio.

[2020-01-22 20:00] kegunder commented on #483
Here's a patch that fixes this issue (in my case)...  please review:

Index: jannovar-htsjdk/src/main/java/de/charite/compbio/jannovar/hgvs/bridge/NucleotideChangeToGenomeVariantTranslationImplBase.java
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- jannovar-htsjdk/src/main/java/de/cha

[2020-02-26 11:11] smw1414 commented on #474
Hi,
We also found the similar issue with position of chr19:17402940C>A(rs2245519) hg38 in version 34. Could you check this issue, thank you.

[2020-03-08 19:04] pnrobinson opened #484 "-d hg38/refseq not found"
https://ftp.ncbi.nlm.nih.gov/genomes/H_sapiens/GFF/ref_GRCh38.p12_top_level.gff3.gz is not present.

[code]

[2020-03-09 16:43] pnrobinson commented on #484
updated to latest version and now this is working, all is ok

[2020-03-09 16:43] #484 closed

[2020-04-23 13:46] stolpeo opened #486 "Building ReferenceDictionary fails for hg19/*"
The following downloads fail during building the ReferenceDictionary:

[code]

All throw the same error message:

[code]

[2020-04-23 13:47] stolpeo opened #487 "Download/processing of hg19/* fails"
The following downloads fail during building the ReferenceDictionary:

[code]

All throw the same error message:

[code]

[2020-04-29 16:07] visze commented on #487
fixed by #488

[2020-04-29 16:07] #487 closed

[2020-04-29 17:51] visze commented on #486
ok. this error is because `http://hgdownload.soe.ucsc.edu/goldenPath/hg19/database/chromInfo.txt.gz` has two times chrM with different lengths:

[code]

[2020-04-29 18:23] visze commented on #486
16569 should be the correct length. there is a quick an dirty hack: after first downloading and failing, go to the download folder and manipulate the file `chromInfo.txt.gz`

remove the line `chrM    16571   /gbdb/hg19/hg19.2bit`

the rerun the download again

[2020-04-29 18:26] visze commented on #486
Can anyone tell me if this an error of ucsc? or do we have to fix it in jannovar?

[2020-04-29 18:43] holtgrewe commented on #486
@visze That's most probably the good old CRS vs rCRS problem. The correct one is the longer one. The good news is that GRCh38 == hg38...

[2020-04-29 18:44] holtgrewe commented on #486
@visze chrMT: so few bases so many problems

[2020-04-29 20:16] visze commented on #486
@holtgrewe no I don't think so. We download the following chrMT dna: faMT=https://www.ncbi.nlm.nih.gov/sviewer/viewer.cgi?save=file&db=nuccore&report=fasta&id=251831106 The length is 16569. That's why I tought that the smaller one is the correct one.

[2020-04-29 20:22] holtgrewe commented on #486
That depends on the definition of "correct"

Until today, I assumed that hg19 == CRS and not revised CRS which was correct at least until 2019.

They must have included CRS for good measure to inflict pain on everyone downstream...

[2020-04-30 06:44] stolpeo commented on #486
To sum up, we agree on deleting line
[code]
as @visze suggested. (?)

[2020-04-30 07:14] holtgrewe commented on #486
@stolpeo yes, for hg19 we do

[2020-04-30 07:25] visze commented on #486
the error appears only on hg19

[2020-05-15 09:05] stolpeo opened #489 "`default_sources.ini` seems not to cover all download links"
There seems to be a hard-coded download link in Jannovar that is not present in the `default_sources.ini`:

https://github.com/charite/jannovar/blob/87cd78fcc6b2398f175c6ed1118e7f0c7c86a973/jannovar-core/src/main/java/de/charite/compbio/jannovar/hgnc/HGNCParser.java#L28

I realized that when the web server was (temporarily) unavailable:

[code]

[2020-05-16 04:44] markwoon opened #490 "Cannot parse HGVS repeats"

[2020-05-16 09:25] markwoon opened #491 "Problem parsing HGVS `delins`"
I'm attempting to parse `NC_000007.14:g.32386323_32386325delGCins`, which arguably is invalid because it's missing the inserted sequence, but the parser is seeing the `GC` as the inserted sequence.

Running:
[code]

Produces: `32386323_32386325delinsGC`

Which is definitely wrong.

[2020-05-19 19:31] myeelaw opened #492 "unable to download Mouse transcript databases"
Here are the command line used and output:

java -jar jannovar-cli-0.34.jar download -d mm10/refseq
Options
JannovarDownloadOptions [downloadDir=data, getDataSourceFiles()=[bundle:///default_sources.ini], isReportProgress()=true, getHttpProxy()=null, getHttpsProxy()=null, getFtpProxy()=null, geneIdentifiers=[], outputFile=]
Downloading/parsing for data source "mm10/refseq"
INFO Downloading data...

[2020-05-27 08:03] markwoon opened #493 "Cannot parse HGVS `NP_000095.2:p.Gly168_His169=`"
When trying to parse `NP_000095.2:p.Gly168_His169=` I get:

[code]

This is with Janovar 0.34.

[2020-07-07 04:31] guglusharma opened #495 "Error while trying to download human hg-19 reference using jannovar v 0.34 installed via bioconda"
Getting the following error. Plz suggest a solution. Noob in the use of Linux/CLI.

$ jannovar  download -d hg19/refseq -d hg19/ucsc
Options
JannovarDownloadOptions [downloadDir=data, getDataSourceFiles()=[bundle:///default_sources.ini], isReportProgress()=true, getHttpProxy()=null, getHttpsProxy()=null, getFtpProxy()=null, geneIdentifiers=[], outputFile=]
Downloading/parsing for data source "hg19

[2020-07-08 06:29] KarthickRajaNarayanan opened #496 "Step by step procedure"
Hi,

Where can i get the protocol/procedure to use this tool for my data set for variant annotation?

Regards,
Karthick

[2020-07-08 08:20] visze commented on #496
Hi Karthick,

thank you for your interest in Jannovar. Did you had a look at the documentation: https://jannovar.readthedocs.org. Maybe the short Quickstart will be the best to start using Jannovar.

just a side mark: we have right now problems with the refseq database. maybe you have to replace it with ensembl.

Best,
Max

[2020-07-08 08:30] visze commented on #495
hi thanks for the issue,

it seems that the ftp site of ncbi, where we dowloand most of the sources, had a complete restructure. So all links are broken (again!). This causes regularly problems. We change the URLs and make a new release. But in the future we have to use something different to prevent this errors.

I keep you updated when we fixed the issue.

[2020-07-08 08:35] visze commented on #495
we already fixed the issue in the development branch. But we need to make a new release to update conda etc.

[2020-07-08 16:18] KarthickRajaNarayanan commented on #496
Hi Max,

Thanks a lot for your input!

What is the command line for downloading ref genome from ENSEMBL?

Regards,
Karthick

[2020-07-10 08:27] visze commented on #496
Hi Karthick,

Have a look at the "downloading transcript-db" documentation here: https://doc-openbio.readthedocs.io/projects/jannovar/en/master/download.html

We recogniced that the download links are broken (one major issue, because websites like to change theor links). So you might get errors when downloading the transcript databases. We already fixed the issue in the development branch. So you

[2020-07-10 08:32] KarthickRajaNarayanan commented on #496
Sure! Thanks a lot! Max.

Regards,
Karthick

[2020-07-10 08:32] #496 closed

[2020-07-13 14:47] pnrobinson opened #497 "Error with chr_accessions_GRCh38.p12"
It seems that the most error prone part of Jannovar is in donwloading the chromosome accessions.
[code]

This file has the chromosome accessions
ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.28_GRCh38.p13/GCA_000001405.28_GRCh38.p13_assembly_structure/Primary_Assembly/assembled_chromosomes/chr2acc

I believe we also want the chromosome lengths.

I wonder if it would be a bet

[2020-07-25 15:51] mm19jv commented on #495
still having this problem.

[2020-07-25 15:51] mm19jv commented on #495
can this be patched ASAP?

[2020-07-25 18:55] holtgrewe commented on #495
@mm19jv We already patched, tagged, and released v0.35. There is something stuck in Bioconda. Any help here is contributed.

I would welcome some understanding that we are doing this work for free besides our actual jobs. This is open source and academic software. You are welcome to provide patches and contribute!

Alternatively, contact me privately and I'll give you a quote for payed support. Al

[2020-07-25 18:55] holtgrewe commented on #495
Here's the BIoconda package. https://github.com/bioconda/bioconda-recipes/pull/23151

[2020-08-16 20:33] roland-ewald opened #498 "Faulty right-shifting of deletions for protein annotations"
## Summary

It seems that [`AminoAcidChangeNormalizer#normalizeDeletion`](https://github.com/charite/jannovar/blob/2472230f2428748777534e684c37f2ff5bf43f36/jannovar-core/src/main/java/de/charite/compbio/jannovar/reference/AminoAcidChangeNormalizer.java#L24) currently does not correctly right-shift protein sequences, introducing erroneous protein change HGVS annotations. Other kinds of variants (be

[2020-08-30 07:48] smw1414 commented on #474
Hi, we found two positions with the same issue using jannovar-0.35. The database is hg38_refseq_curated
chrX    49069802        .       C       A
chrX    49069814        .       C       A

[2020-08-30 11:11] smw1414 commented on #474
Hi,  I have tried to use https://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/annotation/annotation_releases/109/GCF_000001405.38_GRCh38.p12 for the database building, but it still caused the same issue.
However, GRCh38.p13 (109.20200815) could somehow temporarily solve this issue. Hope this could help

[2020-09-08 18:50] squid-dev opened #500 "NCBI urls are out-of-date"
Using the default values in default_sources.ini it is not possible to download hg19/ucsc or hg19/refseq. Hg19/ensembl also seems to be failing for me with a different error but I haven't investigated. It's not clear to me where the new locations are at NCBI.
e.g.:

de.charite.compbio.jannovar.datasource.FileDownloadException: ERROR: Problem downloading file:...

[2020-09-22 09:52] smw1414 opened #501 "mitochondrial genetic code"
Hi, Jannovar team

I found that jannovar (0.35, refseq_curated) use standard genetic code to decode the products in chrM.
For example, chrM:3669A>G (rs386828918 ) was annotated as stop_lost. But actually it's a synonymous variant.

[2020-09-22 10:21] pnrobinson commented on #501
Good point, I do not think we have implemented this. See https://en.wikipedia.org/wiki/Human_mitochondrial_genetics#Genetic_code_variants.

[2020-10-06 12:04] pnrobinson commented on #500
@holtgrewe @visze @julesjacobsen
I am wondering if it would be better to include one file with chromosome lengths as a part of the Jannovar download. I realize there are lots of problems with this approach, but our current approach is not robust. The chromosome lengths are the same for all of the flavors of a genome build. We could include this as a default that could be overridden if for some rea

[2020-10-06 20:04] julesjacobsen commented on #500
Its a great idea. The reference genome / reference dictionary needs a bit of attention to be able to parse the data from GenBank assembly report files to parse the 'assembled-molecule' rows into numbered contigs for use in Jannovar.

Last time I did a build I had to manually remove one of the two mitochondrial chromosomes present in one of the files which broke the Jannovar build.

[2020-10-06 20:07] holtgrewe commented on #500
Dear Peter, Dear Jules;

actually Max and I would like to mirror both the "raw data" and the built/released databases on figshare or zenodo in the future to circumvent such problems... However, time is slipping through my hands and as much as I try, I don't get to working on Jannovar these days (I believe that Max has similar issues).

[2020-10-13 07:25] smw1414 opened #503 "--show-all option not properly worked"
Hi jannovar team,
I use jannovar(0.35, refseq, hg38) to annotate a position, chr10:60572463A>T, with --show-all option in vcf format. This position locates on ANK3 and should have 5 curated transcripts. However, it only output annotations of 2 transcripts. Hope you can manage to solve this issue, thanks.

[2020-10-13 09:55] pnrobinson commented on #503
I get this:
[code]
I am seeing two refseq sequences at this position
https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position=chr10%3A60572458%2D60572467&hgsid=918065035_SDeC2iWKKe5P7q88SaELAtUMkCff
Can you provide more information about the "missing" transcripts, what are you expecting to see? At fi

[2020-10-13 10:49] smw1414 commented on #503
You are correct. I think I overlooked that this position may not covered by other transcripts. Thanks.

[2020-10-13 10:49] #503 closed

[2020-11-10 13:52] pnrobinson commented on #500
@holtgrewe @visze let's start to put some files onto zenodo. Should I start a project? Also, I would suggest that we no longer support some of the older builds such as hg18. I will write a page for the read the docs about the INI files and how to set things up. Currently, most things do not work, e.g. hg19, even in the develop branch.

[2020-11-10 13:54] holtgrewe commented on #500
@pnrobinson sounds good!

[2020-11-10 14:23] pnrobinson opened #504 "Remove INI support for hg18"
We are planning to address some of the issues with creating the Jannovar transcript files ("___.ser"). Currently, Jannovar downloads various files from a number of servers to get definitions of chromosome names and lengths etc., but the providers of these files have change names and removed a number of files. It will be easier to update this system if we concentrate on more less current builds. We

[2020-11-10 14:27] pnrobinson opened #505 "JUNIT 5"
I think it will be good to update the unit tests to JUNIT5 to keep things up to date and make it easier to possibly use a more modern Java with some future version of Jannovar. The easiest way to migrate is to use a "vintage" package that let's you use JUNIT4 and 5 at the same time, basically. There are only a few things that Junit4 does that are hard to do in Junit5, but we can slowly update the

[2020-11-10 14:31] holtgrewe commented on #505
Hi Nick, can you give a concrete example what would be immediately useful right now in Jannovar? Jannovar should stay on Java 8 IMO for now as this keeps things stable.

[2020-11-10 14:38] pnrobinson commented on #505
I agree it is still not time to migrate, but there are many advantages of newer Java versions, and depending on how the community develops it might be interesting for example to use the module system (this is not possible until our dependencies do so).
My motivation for Junit 5 is more to essentially review the entire code base before getting more active on Jannovar development again. This will no

[2020-11-10 14:43] holtgrewe commented on #505
I'd strongly suggest to stay away from major changes in the code basis and its dependencies.

If we can just version bump to a new JUnit and easily adjust the existing tests then IMO that's fine.

I'd rather not make the move forward to Java 9+ as by my understanding this starts a dependency journey on the currently maintained Java releases...

[2020-11-10 14:53] pnrobinson commented on #505
see above: ``I agree it is still not time to migrate,``
Still, I do not think that we can stick with Java 8 forever, it is inevitable that it will not be maintained well and sooner or later it would be like trying to run Java 1.5 code on the latest computer you just installed (https://www.oracle.com/java/technologies/java-se-support-roadmap.html). We are not there yet, though, I agree!

[2020-11-17 16:12] julesjacobsen commented on #486
This is still an issue and a royal pain in the rear. Can I suggest we slightly rationalise the way the chromosome information is gathered for a a build?

I'd like to suggest that the ini file points to the GenBank assembly report file e.g.

ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/GCF_000001405.39_GRCh38.p13_assembly_report.txt

[code]

The `assembled-mole

[2020-11-17 16:18] pnrobinson commented on #486
This seems like an excellent idea!

[2020-11-17 17:12] julesjacobsen commented on #486
Excellent, then I will endeavour to make it so!

[2020-11-17 17:50] pnrobinson commented on #486
![image](https://user-images.githubusercontent.com/4943420/99427484-7ae57280-28d3-11eb-8887-461d23f5dab2.png)

[2020-11-17 17:51] pnrobinson commented on #486
or even more enthusiastically
![image](https://user-images.githubusercontent.com/4943420/99427580-9781aa80-28d3-11eb-9757-fb58697ecebe.png)

[2020-11-17 18:25] julesjacobsen commented on #486
Aye aye, Captain!

[2021-06-01 10:20] holtgrewe opened #511 "Refurbish vardbs/frequency annotation"
**Is your feature request related to a problem? Please describe.**
While it seems "nice" to be able to annotate with many different variant databases directly from VCF, the implementation is a bit cumbersome. It would be sufficient to support gnomAD (maybe ExAC) these days, and similarly formatted VCF files in case that users want to use custom annotations. When working on [varfish-annotator](http

[2021-06-07 15:29] #498 closed

[2021-06-07 15:31] holtgrewe opened #513 "Deposit static files into Zenodo"
**Is your feature request related to a problem? Please describe.**
The download URLs turn out to be unstable. In particular, RefSeq release 105 has now moved somewhere (TM) on the NCBI servers and is not available any more at its original location.

**Describe the solution you'd like**
We should deposit a copy of all data on Zenodo.

- [x] deposit files as downloadable in Zenodo (use `-` to create

[2021-06-07 15:31] holtgrewe commented on #513
CC @visze @pnrobinson

[2021-06-07 15:40] holtgrewe commented on #513
Zenodo seems to be down right now, I'll try to attach a copy of the data here.

[2021-06-07 15:47] holtgrewe commented on #481
I can confirm that #499 fixes this problem:

[code]

[2021-06-07 15:47] #481 closed

[2021-06-07 16:10] holtgrewe commented on #513
OK, the files are here now inside a ZIP archive. Zenodo does not support sub directories, so we would have to put the folder structure into the file name, e.g., by replacing `/` by `-`.

https://zenodo.org/record/4906580#.YL5ExDqxWAk

[2021-06-07 16:13] holtgrewe commented on #513
CC #504

[2021-06-07 16:39] pnrobinson commented on #513
This is a good suggestion. Zenodo is a good choice for the download files.

[2021-06-07 17:29] #504 closed

[2021-06-07 17:31] holtgrewe commented on #513
@pnrobinson what do you think about slimming down things even further:

- Provide Bash scripts for building a "data release", IOW: download upstream files and upload them into Zenodo.
- We could then attach the `.ser` files here to the releases.
- We could get rid of the code for downloading files which means less code to maintain. Instead, "download" would pull the files from Github.

[2021-06-07 18:18] pnrobinson commented on #513
There are multiple possible ways of doing this. I think that 99% of users would appreciate things being simple and would be happy to trust us for making the ".ser" files. When we released the first version of Jannovar, the download was reliable and simple enough, but now the upstream sources seem determined to change paths often...so, yes, I think your suggestion is great

[2021-06-08 15:18] holtgrewe commented on #493
Interesting. This refers to this part of the specification:

- http://www.hgvs.org/mutnomen/accepted001.html

Which we indeed have not considered so far.

[2021-06-08 16:02] holtgrewe opened #516 "Implement HGVS parsing for protein sequences"
**Is your feature request related to a problem? Please describe.**
Parsing HGVS protein sequences has not been implemented yet. It would be useful to have this (cf #490, #491, #493).

**Describe the solution you'd like**
Add implementation and tests in the same way as we have for nucleic acid changes.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-06-08 16:05] holtgrewe commented on #493
OK, it has not been clearly documented but parsing HGVS is only fully implemented for nucleic acid sequences. The Antlr-based parser for amino acids is there but building Java objects has not been implemented yet.

#517 will fix this issue as "parsing" will work but it will return `null`. #516 documents explicitely that this is still missing.

I don't have the time to implement this (as I have no

[2021-06-08 16:07] holtgrewe commented on #491
Thanks for reporting. I'll look into this, I don't expect a too complex fix.

[2021-06-08 17:14] #493 closed

[2021-06-08 17:28] #491 closed

[2021-06-08 17:36] holtgrewe opened #519 "Complete support for parsing HGVS nucleotide expressions."
**Is your feature request related to a problem? Please describe.**
A number of HGVS nucleotide descriptions are not described well. For example, repeat expansion descriptions (cf. #490). We should have better support for this, in particular as such variation is now within reach of NGS methods.

**Describe the solution you'd like**
1. Go through updated HGVS website and collect a catalogue of cases

[2021-06-08 17:37] holtgrewe commented on #490
Right now we only support a very limited number of repeats. From the grammar:

[code]

which means, e.g., `<ref>:<spec>.<pos><seq>(<number>_<number>)`.

Adding this would require some expertise in Antlr development and knowledge of HGVS. It's not super hard work but right now I cannot invest the time into this. I'd welcome help with this, cf. #519.

[2021-06-08 17:40] holtgrewe commented on #483
@mmcneill123 thanks for reporting this and @kegunder thanks for the fix. I'll have a look.

[2021-06-08 17:46] holtgrewe commented on #483
Hi, this works for me with the current `master` (will become v0.36, despite the currently incorrect version in `pom.xml`). Please reopen if the problem persists.

[code]

[2021-06-08 17:50] holtgrewe commented on #483
OK, also works in current `develop`.

[2021-06-08 17:51] holtgrewe commented on #482
Hi, the regular expression is

[code]

which means it must start with `chr`...

[2021-06-08 17:51] #482 closed

[2021-06-08 17:54] holtgrewe commented on #465
Here is what the current `develop` gives.

[code]

[2021-06-08 19:11] holtgrewe commented on #511
OK, added commands `vardbs-{import,list,annotate}`. Integration into `annotate-vcf` is still pending.

[2021-06-08 19:13] holtgrewe commented on #505
FWIW, adoptopenjdk will provide Java 8 support until May 2026 or later:

- https://adoptopenjdk.net/support.html

However, JUNIT supports Java 8 at run and compile time. So we can move forward here IMO.

[2021-06-08 19:35] holtgrewe opened #521 "Use single branch instead of develop/master split."
**Is your feature request related to a problem? Please describe.**
Separating `develop` and `master` is not so useful for our project. Also, the default Maven release cycle assumes a single branch only. Releasing requires going to the `master` branch and then

**Describe the solution you'd like**
Get rid of the `develop` branch and use `master` for development. Releases go to Maven central anyway.

[2021-06-08 21:40] holtgrewe commented on #465
I belive it's GRCh38/hg38. The following is what variant validator gives which equals Jannovar.

![image](https://user-images.githubusercontent.com/521780/121261228-bcab2a00-c8b2-11eb-8662-d75910418de6.png)

Please re-open if you disagree.

[2021-06-08 21:40] #465 closed

[2021-06-08 21:57] holtgrewe commented on #474
**First Variant**

This appears to work at least with the current `develop` and the `hg19_refseq.ser` that is in the ZIP attached to the v34 release.

[code]

However, VariantValidator has problems with this transcript...

**Second Variant**

[code]

Also here, VariantValidator does not like the variant: `No transcripts found that fully overlap the described variation in the genomic sequence`

I t

[2021-06-08 21:58] holtgrewe commented on #474
[code]

[2021-06-08 21:58] holtgrewe commented on #474
Please re-open if you think that the problem persists.

[2021-06-08 23:36] smw1414 commented on #474
Hi ,
You should try with "--show-all ", then you can find the problem still existed.
[code]
For the variants (chrX:49069802C>A; chrX:49069814C>A) I  reported is something to do with the inconsistency between RefSeq transcript sequences and hg38 sequences.
Without the "show-all", the jannovar gives the annotation of NM_001163321. This transcript sequence is consistent with hg38.
https://genome.ucsc

[2021-06-09 05:46] holtgrewe commented on #474
Hi, thanks for the message.

First, let's have a look at the variant databases involved. You are using `hg38_refseq_curated`. This means it's based on the GRCh38 release with the refseq database and only uses the `NM_` records which are curated from genbank sequences (actual observations) rather than `XM_` records which are based on gene prediction software. You are referecing UCSC genome browser

[2021-06-09 08:25] holtgrewe opened #523 "Remove support for UCSC transcripts"
**Is your feature request related to a problem? Please describe.**
I think the create more problems than they solve as they provide a third alignment of transcripts to the reference. RefSeq and ENSEMBL are enough.

**Describe the solution you'd like**
Remove support for them in code and documentation.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-06-09 08:25] holtgrewe commented on #523
@pnrobinson what do you think?

[2021-06-09 09:47] holtgrewe opened #524 "Problems with projection of dbSNP variants and RefSeq for hg38"
**Describe the bug**
Jannovar crashes for some variants for hg38 and RefSeq. This is the collection ticket for dbSNP positions.

**To Reproduce**
Run with Jannovar 0.36-SNAPSHOT and data release candidate.

**Expected behavior**
Jannovar should not crash as all errors should be properly handled and annotated.

**Additional context**
N/A

[2021-06-09 09:48] holtgrewe commented on #399
Closing in favour of #524.

[2021-06-09 09:48] #399 closed

[2021-06-09 10:02] holtgrewe commented on #524
First one that was found:

[code]

[2021-06-09 11:50] pnrobinson commented on #521
I agree there is no big advantage in separating develop/master

[2021-06-09 12:26] smw1414 commented on #474
Hi,
I found that use annotate-pos does not return an error. However, the annotate-vcf returned an error. I also used the ser file you provided, but it didn't solve the problem.  Here's the log.
[code]
[problematic_position.zip](https://github.com/charite/jannovar/files/6623646/problematic_position.zip)

I attached the vcf file that I used.  The position is different, but they locate at the same re

[2021-06-09 12:29] holtgrewe commented on #474
@smw1414 thanks for bearing with us... I'm currently looking into #524 which probably is related

[2021-06-09 12:43] holtgrewe commented on #474
I think I fixed it in branch `524-dbsnp-projection-hg38`. At least your `bug{1,2}.vcf` work now.

[2021-06-09 12:44] holtgrewe commented on #474
I will let jannovar run through dbsnp for GRCh37 and GRCh38 and both ensembl and refseq transcripts. If this succeeds then I will merge #525 and make a new Jannovar release.

[2021-06-09 13:12] pnrobinson commented on #523
Why don't we fix the current bug with building the ser files, leave out UCSC, and if it turns out people really want to have it we can add back support later on?

[2021-06-09 20:48] holtgrewe commented on #523
Sounds good to me.

[2021-06-09 20:49] holtgrewe commented on #523
Actually, there is no bug in building the `.ser` files but a bug in the alignment projection... It turns out you should look at the number of bases in the transcript rather than in the reference when checking your alignments.

[2021-06-09 20:49] holtgrewe commented on #524
OK, current #525 runs through on dbSNP which previously failed. I'd say that's good enough for a release.

[2021-06-09 20:50] holtgrewe commented on #474
OK, #525 runs through on dbSNP.

[2021-06-09 20:51] #524 closed

[2021-06-09 20:52] holtgrewe commented on #513
INI files don't download from Zenodo but we have download scripts as described in the `README.md` now.

[2021-06-09 20:52] #513 closed

[2021-06-09 20:54] #500 closed

[2021-06-09 20:54] #497 closed

[2021-06-09 20:54] #489 closed

[2021-06-09 20:55] #486 closed

[2021-06-09 20:55] #474 closed

[2021-06-09 20:55] #473 closed

[2021-06-09 20:55] #464 closed

[2021-06-09 21:41] #511 closed

[2021-06-09 21:41] holtgrewe commented on #495
We now have prebuilt databases, this should fix this issue.

[2021-06-09 21:41] #495 closed

[2021-06-09 21:41] holtgrewe commented on #492
Should be fixed by pre-built databases. Otherwise, please report in a new issue.

[2021-06-09 21:41] #492 closed

[2021-06-09 21:43] holtgrewe commented on #194
Should be fixed by pre-building databases.

[2021-06-09 21:43] #194 closed

[2021-06-18 16:27] julesjacobsen commented on #523
Can we keep UCSC support? The UCSC data is stable (to my knowledge) so shouldn't cause a maintenance burden. I thought the projection bug was for RefSeq data as this is the one which required the alignment objects?

I'm obviously motivated by Exomiser maintenance and UCSC is provided as an option for people to use. I don't know how many people use this option, however.

[2021-06-22 16:47] mansi800 commented on #411
@holtgrewe I am having the same issue as @pnrobinson had even tough my HGVS are in this format:  NM_000314.8(PTEN):c.823dup
NM_000314.8(PTEN):c.209+97T>C
NM_001126049.2(KLLN):c.-881G>A
NC_000010.10:g.89623305G>T

Still I am getting the following bug:
Could not translate variant NucleotideVariant [seqType=CODING_DNA, refID=NM_000314, proteinID=null, transcriptVersion=8]: de.charite.compbio.jannovar

[2021-06-22 17:06] mansi800 opened #529 "HGVS-VCF bug ( de.charite.compbio.jannovar.hgvs.bridge.CannotTranslateHGVSVariant: No transcript )"
I was using jannovar version 0.36 for HGVS to vcf conversion. I used the following command:
$ java -jar jannovar-cli-0.36.jar hgvs-to-vcf -d refseq_105_hg19.ser -i four.txt -o four.vcf -r hg19.fasta

where four.txt have the hgvs representation in the following format :
NM_000314.8(PTEN):c.823dup
NM_000314.8(PTEN):c.209+97T>C
NM_001126049.2(KLLN):c.-881G>A
NC_000010.10:g.89623305G>T

Also I am havi

[2021-06-24 10:47] holtgrewe commented on #529
Hi,

if you look at the [source files for the 0.36 data buildes](https://zenodo.org/record/4906580#.YNRh3zqxWAk) then you can see that the RefSeq release that we use has a different version of that transcript.

[code]

Maybe you have more lock with

- VariantValidator
- and or one of the tools that they use

In particular UTA or one of the tools has all kinds of transcript versions and can map bet

[2021-06-24 10:47] #529 closed

[2021-06-24 12:30] holtgrewe commented on #411
@mansi800  sorry for the delay. Please see #529 for an answer. Shortly, version `.8` is not in the refseq that we use but only `.10`. Multi-version transcript databases are not something that we plan to support Jannovar for now. VariantValidator and other tools it uses do an excellent job, though.

[2021-06-24 12:45] mansi800 commented on #411
@holtgrewe  Thanks for helping me out.
I tried VariantValidator but it is for vcf to hgvs conversion. Can you please suggest some good tools(having api version) that can be used to convert hgvs to vcf efficiently.

[2021-06-24 14:15] holtgrewe commented on #411
@mansi800

Well, the manual indicates that you can also use HGVS notation

- https://variantvalidator.org/help/instructions/

Would the LOVD endpoint here help you?

- https://rest.variantvalidator.org/

Maybe this python could also come in handy.

- https://github.com/openvar/vv_hgvs/

[2021-06-24 15:00] holtgrewe commented on #519
@markwoon -- OK let's continue here.

We'd greatly appreciate your support on this.

Could you briefly outline your use case?

What exactly do you mean with "old" and "new"? Do you mean the "IVS ..." stuff with "old" or anything in varnomen that is not in the current spect?

Maybe we could start with a list of examples from `varnomen.hgvs.org` as test cases and see where the parser still breaks. W

[2021-06-24 17:19] markwoon commented on #519
My use case: parsing HGVS input from curators.  For the most part it's just simple SNPs, but every now and then I get something else, and that's how I'm finding the holes in jannovar.

When I used old/new before, I meant:
"Old" HGVS: https://www.hgvs.org/mutnomen/
"New" HGVS: https://varnomen.hgvs.org/

But I guess these terms are relative as the spec itself is updated.

The plan sounds good.  How

[2021-06-25 07:32] holtgrewe commented on #519
100%, go for it.

I believe it used to be:

- http://www.hgmd.cf.ac.uk/docs/mut_nom.html

[2021-06-27 09:17] smw1414 opened #530 "Report the effect for every genes"
**Is your feature request related to a problem? Please describe.**
Jannovar picks transcript by the most severe consequences of transcript. But there are genes that overlapped with each other and with the same consequences. If report only one gene of information may lost the very critical information . For example, [X: 101399747](https://www.ncbi.nlm.nih.gov/clinvar/variation/10768/) is a very imp

[2021-06-28 04:20] holtgrewe commented on #530
I agree, this should be implemented and is the same as in [varfish-annotator](https://github.com/bihealth/varfish-annotator).

[2021-06-28 19:24] holtgrewe commented on #519
@markwoon would you volunteer to prepare a list of categorized valid positive HGVS examples?

[2021-06-28 20:06] markwoon commented on #519
But that's not official HGVS, so is the plan to continue supporting it?

I'd be interested in working on this, but I doubt I'll have the time to do so in the near future unless I find another hole in jannovar I need to plug.

[2021-09-02 18:38] myeelaw opened #531 "RefSeq datasets for mm11"
Mouse mm39 (GRCm39) was released in June of 2020. Will mm11/refseq be available for download soon?
We use Jannovar to obtain HGVS annotation regularly and it is a pain to convert them back to mm39 coordinates then run Jannovar on those each time.

Thank you in advance!

[2021-09-03 06:56] holtgrewe commented on #531
I'm looking into this right now. RefSeq should be possible. For ENSEMBL we still have the issue of requiring HGNC gene mapping in the Java code. Supporting it will require a change to the Java code. UCSC switched away from knownGene/knownCanonical for mm39 as they don't do their own genes any more (if I understand correctly). So UCSC would not be useful anyway.